<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


<style>
  .navbar {
      background-color: #ffffff;
      /* Navbar background color */
      padding: 10px 20px;
      /* Padding for the navbar */
      border-radius: 10px;
      /* Border radius for a rounded navbar */
  }

  .navbar-brand img {
      max-height: 50px;
  }

  .navbar-toggler {
      color: #000000;
      border-color: #000000;
  }

  .navbar-toggler:hover {
      color: #ff69b4;
      border-color: #ff69b4;
  }

  .navbar-nav {
      margin: auto;
      display: flex;
      justify-content: center;
      gap: 20px;
  }

  .navbar-nav .nav-link {
      color: #000000;
      font-weight: bold;
      transition: color 0.3s ease;
  }

  .navbar-nav .nav-link:hover {
      color: #ff69b4;
  }

  .dropdown-menu {
      background-color: #ffffff;
      color: #000000;
      border: none;
      border-radius: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .dropdown-item {
      color: #000000;
      transition: color 0.3s ease;
  }

  .dropdown-item:hover {
      background-color: #ffffff;
  }

  .dropdown-item:hover .dropdown-menu {
      background-color: #ff69b4;
      color: #ffffff;
  }

  .btn-donate {
      transition: background-color 0.3s ease;
      border: 1px solid gray;
      background-color: #ff69b4;
      color: #ffffff;
  }

  .dropdown-menu {
      margin-top: 0;
  }

  .dropdown-menu .dropdown-toggle::after {
      vertical-align: middle;
      border-left: 4px solid;
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
  }

  .dropdown-menu .dropdown .dropdown-menu {
      left: 100%;
      top: 0%;
      margin: 0 20px;
      border-width: 0;
  }

  .dropdown-menu .dropdown .dropdown-menu.left {
      right: 100%;
      left: auto;
  }

  @media (min-width: 768px) {
      .dropdown-menu .dropdown .dropdown-menu {
          margin: 0;
          border-width: 1px;
      }

      .dropdown-menu>li a:hover,
      .dropdown-menu>li.show {
          background: #ff69b4;
          color: white;
      }

      .dropdown-menu>li.show>a {
          color: white;
      }
  }
</style>

<header>
  <nav class="navbar navbar-expand-lg" id="main_navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt="" width="60" height="60" class="d-inline-block align-text-top" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about" role="button" data-bs-toggle="dropdown">
                        About
                    </a>
                    <ul class="dropdown-menu">
    
                        <li><a class="dropdown-item" href="/about">Who Are We</a></li>
                        <li>
                            <a class="dropdown-item" href="/team">Our Team</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/legal">Our Legal</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/partners">Our Partners</a>
                        </li>
                    </ul>
                </li>
                <!--Programmes  -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown">
                        Programmes
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/programs/0">Emergency Medical Support</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/programs/1">Grace Food Bank</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Mission Education Program</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Public Health And Nutrition
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/programs/2">Mission Smile Program</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/programs/3">Disability Elimination Program</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/programs/6">Maternal And Child Health</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Malnutrition Eradication Program</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Mobile Medical Van</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Tuberculosis Elimination Program</a>
                                </li>
                                <li></li>
                                <li>
                                    <a class="dropdown-item" href="#">Anemia Elimination Program</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/programs/4">
                                Home For Homeless Program</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/programs/7">
                                Women & Youth Empowerment Program</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/programs/8"> Animal Welfare Program</a>
                        </li>
                    </ul>
                </li>
    
                <!-- donation -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Monthly Donation</a>
                </li>
    
                <!-- get involve -->
    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Get Involved
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/volunteerism">Volunteerism</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/carrier">Careers</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/">Partnership</a>
                        </li>
                    </ul>
                </li>
    
                <!-- media-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Media
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/blog">Blog</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/gallery">Photo/Video</a>
                        </li>
                    </ul>
                </li>
    
                <!-- Donate Us -->
                <li class="nav-item">
                    <button href="/donate" class="btn btn-donate" type="submit">Donate Us</button>
                </li>
    
                <!-- contact us -->
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
</header>
<hr style="height: 2px; background: #e83e8c" class="w-100" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


<script>
  function bootnavbar(options) {
      const defaultOption = {
          selector: "main_navbar",
          animation: true,
          animateIn: "animate__fadeIn",
      };

      const bnOptions = { ...defaultOption, ...options };

      init = function () {
          var dropdowns = document
              .getElementById(bnOptions.selector)
              .getElementsByClassName("dropdown");

          Array.prototype.forEach.call(dropdowns, (item) => {
              //add animation
              if (bnOptions.animation) {
                  const element = item.querySelector(".dropdown-menu");
                  element.classList.add("animate__animated");
                  element.classList.add(bnOptions.animateIn);
              }

              //hover effects
              item.addEventListener("mouseover", function () {
                  this.classList.add("show");
                  const element = this.querySelector(".dropdown-menu");
                  element.classList.add("show");
              });

              item.addEventListener("mouseout", function () {
                  this.classList.remove("show");
                  const element = this.querySelector(".dropdown-menu");
                  element.classList.remove("show");
              });
          });
      };

      init();
  }
</script>


<script>
  new bootnavbar();
</script>