.link{
    text-decoration: none;
    
}
.link:hover{
    text-decoration: underline;
}
.fa {
    padding: 10px;
    width: 35px;
    height: 35px;
   
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
  }
  
  .fa-facebook:hover {
     background:#3B5998;
    color: white;
  }
  
  .fa-facebook {
    color: #3B5998;
    background: white;
    font-size: 40px;
  }
  .fa-twitter:hover{
    background: #55ACEE;
    color:white ;
  }
  
  .fa-twitter {
    color: #55ACEE;
    background: white;
  }
  .fa-google:hover{
    background: #dd4b39;
    color: white;
  }
  .fa-google {
   color: #dd4b39;
    background: white;
  }
  .fa-linkedin:hover{
    background: #007bb5;
    color: white;
  }
  .fa-linkedin {
    color: #007bb5;
    background: white;
  }
  .fa-youtube:hover{
    background: #bb0000;
    color: white;
  }
  .fa-youtube {
    color: #bb0000;
    background: white;
  }
  
  