<%- include("partials/header") %>

<style>
      .icon-bar{
    display: flex;
    flex-direction: row;
    box-shadow: -7px -7px 20px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0001,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001 ;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 350px;
    position: relative;
    transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
    border-radius: 10px;
            }
            .btnsl{
    height: 35px;
    width: 35px;
    border-radius: 3px;
   box-shadow:  -7px -7px 20px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0001,
    4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001 ;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-size: 16px;
   color: rgba(42,52,84,1);
   text-decoration: none; 
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
 
transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
}
.btn:active{
    box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
                -4px -4px 6px 0px rgba(116,125,136,0.2),
                inset -4px -4px 6px 0px rgba(255,255,255,0.5),
                inset 4px 4px 6px 0px rgba(116,125,136,0.3);
}
@media screen and (max-width: 500px) {
  .newAdd{
    width: 280px; 
    height: 100px;
  }
  .newAdd .row img{
    height: 50px; 
    width: 50px; 
    padding: 10px;
  }
  .newAdd .row h5{
    padding: 10px;
  }
}
    </style>
<body>
  <!-- ======================header started====================== -->
  <%- include("partials/navbar") %>

  <!-- ======================Main started====================== -->

  <main>

    <!-- ======================Banner started====================== -->


    <section class="banner">
      <div class="container">
        <center>
        <div class="row">
          <div class="col-12">
            <div class="wrapper">
              <h1>EMERGENCY MEDICAL SUPPORT</h1>
              <p></p>
              <ol>
                <li><a href="#">Donate Now</a></li>
              </ol>
            </div>
          </div>
        </div>
      </center>
      </div>
    </section>
   
    <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
      <center><img src="assets/images/causes/3.jpeg" style="height: 280px; width: 450px; margin-bottom: 25px;"></center>
      <center><div style="box-shadow: 5px 5px 10px; width: 350px;">
        <div class="icon-bar">
          <a href="https://www.facebook.com/sharer.php?u=https://facebook.com/rhlfofficial" target="_blank" class="fa fa-facebook "></a>
          <a href="https://www.linkedin.com/shareArticle?url=https://www.linkedin.com/rhlfofficial/mycompany/&title=Donate Now" target="_blank" class="fa fa-linkedin "></a>
          <a href="https://youtube.com/channel/UCPGUOZUxESUOLNaTjeElSWQ" target="_blank" class="fa fa-youtube "></a>
          <a href="https://twitter.com/rhlfofficial" target="_blank" class="fa fa-twitter "></a>
          <a href="https://api.whatsapp.com/send?phone=<>&text=<hi, Donate >
            " target="_blank" class="fa fa-whatsapp "></a>
        </div>
      </div>
    </center> <br>
        <p style="margin-top: 30px; margin-bottom: 30px;"><div style="margin-bottom: 30px;"><h3><b>Baby Aaditya Singh (2 Years Old Boy)</b></h3></div>
 
          <div style="margin-bottom: 20px;"><h5><b>FAMILY DETAIL:</b></h5> Mr. Suraj Jain (Father of Annanya) is running a small road side food stall. His wife Mrs. Deepa is a house wife. There are 4 members in his family and he is the only earning member to manage daily livelihood with an income of approximately Rs 10,000/- per month. Due to his daughter’s illness his food stall is closed since 25 days. As their economic condition is not stable managing his daughter’s medical treatment cost is impossible for him.</div>
          
          <div style="margin-bottom: 20px;"><h5>Total Estimated Cost is Rs 10,00,000/-</h5></div>
          
          <div style="margin-bottom: 20px;"><h5><b>PATIENT DETAIL:</b></h5> Baby Annanya Jain is 3 years Old Female Child admitted in Neonest Hospital, New Delhi. This girl is a case of Severe Bilateral Pneumonia with Bilateral Pneumothorax with pleural effusion. Annanya is in critical condition and she would require PICU stay for around two months.</div>
          
          <div style="margin-bottom: 20px;">We humbly request you to please come forward with a helping hand and save this innocent’s life.
          
          <div style="margin-bottom: 20px;">We can’t help everyone but as humanity everyone come together and help someone. The baby’s father is struggling financially to arrange finance for medical treatment. So, we request you to please come forward to save his daughter’s life as she is in an emergency medical need.</div>
          
          <div style="margin-bottom: 20px;"><b>How Can You Help?</b></div>
          
          -You can Donate to the Fundraiser<br>
          -You can share story on Facebook and WhatsApp so that their story reaches to more people like you who will impact his life<br>
          <div style="margin-bottom: 20px;">-You can Volunteer to Raise Funds and save Annanya Jain life.</div>
          
          <div style="margin-bottom: 20px;">50% Tax Exemption under 80(G)</div>
          <div style="margin-bottom: 20px;">FUNDS DONATED WILL BE USED FOR Annanya Jain TREATMENT</div>
          
          <div style="margin-bottom: 30px;">Kindly also share the fundraiser with your family and friends and help them to reach the goal. We will be grateful for your help!
        
          <center><div style="margin-bottom: 30px;"><h3><b>Supporting Documents</b></h3></div>
            <img src="assets/images/causes/ananva1.jpeg" style="box-shadow: 2px 1px 2px 1px; margin-top: 30px; margin-bottom: 25px;">
            <img src="assets/images/causes/ananva2.jpeg" style="box-shadow: 2px 1px 2px 1px; margin-top: 30px; margin-bottom: 25px;">
            <img src="assets/images/causes/ananva3.jpeg" style="box-shadow: 2px 1px 2px 1px; margin-top: 30px; margin-bottom: 25px;">
            <img src="assets/images/causes/ananva4.jpeg" style="box-shadow: 2px 1px 2px 1px; margin-top: 30px; margin-bottom: 25px;">
            <img src="assets/images/causes/ananva5.jpeg" style="box-shadow: 2px 1px 2px 1px; margin-top: 30px; margin-bottom: 25px;">
          </center>
        <!--<center><div class="newAdd" style="box-shadow: 5px 5px 10px; width: 280px; height: 100px;">
          <div class="row">
            <div class="col-md-6"><img src="assets/images/causes/1.jpeg" style="border-radius: 50%; height: 50px; width: 50px; padding: 10px;"></div>
            <div class="col-md-6"><h5 style="padding: 10px;">Sita</h5></div>
          </div>
          <div class="row">
            <div class="col-md-6"><img src="assets/images/causes/1.jpeg" style="border-radius: 50%;  height: 50px; width: 50px; padding: 10px;"></div>
            <div class="col-md-6"><h5 style="padding: 10px;">Sita</h5></div>
          </div>
        </div>
      </center>--->
      </div>
        
            
    </div>
   
  <!-- =====================>>>>>Footer Started>>>>>======================== -->

  <%- include("partials/footer") %>
</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html>