<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Happiness of Life Foundation</title>
    <link
      rel="shortcut icon"
      href="assets/images/logo.png"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="assets/css/aboutus.css" />

    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/navbar.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"
      integrity="sha512-KvlmAB+wx0zLQRe7hCFzBwyaU/AvbwPoJgxfBZ6g+ZF9MBMY4YAo3+BycXH2Rc+fDPbZ0fJsi3AfOTmQYZEn9A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://cdn.tailwindcss.com/your-tailwind-css-version.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <!-- navbar -->
    <!-- ======================header started====================== -->

    <!-- content -->
    <div class="container fontname mt-3">
      <p>
        Real Happiness Of Life Foundation,We work in the best interest of Needy.
        <br /><br />
        We focus on the basics such as Education, Health, Food and Shelter. Our
        approach is holistic and our style hands on. We are on the ground, where
        it matters most for the child. We enable both families and communities.
        We have several grass roots initiatives. <br /><br />
        We will be completing our first decade of growth soon. We started
        working in 2021. We are building on our many successes and reaching out
        to more and more marginalized People Registered as not for profit
        organization in 2021 under the Section 8 Act. Real Happiness Of Life
        Foundation Registration No: U85300MH2021NPL368070.
      </p>

      <h6 class="mt-3">VISION</h6>
      <p>Giving True Happiness to every needy life.</p>
      <h6 class="mt-3">MISSION</h6>
      <p>
        Real Happiness Of Life Foundation for social changed and inclusion works
        for the social development and integration of under privileged
        individuals groups and communities in India. Eradicating all People of
        sorrow, prevailing truth, love and peace, practicing oneness, and
        celebrating humanity.
      </p>
      <h4>CORE VALUES</h4>
      <h6>GODLIKE</h6>
      <p>We value reflecting God with compassion to those we serve.</p>
      <h6>CHILDLIKE</h6>
      <p>
        We value child's passion for life and dependence of God in how we think,
        live and love.
      </p>
      <h6>INTEGRITY</h6>
      <p>We value doing what we say and saying what we do.</p>
      <h6>RESTORING THE BROKEN</h6>
      <p>
        We value taking action in responding to the physical and spiritual needs
        of those without voice and resources
      </p>
      <h6>INTENTIONAL RELATIONSHIPS</h6>
      <p>
        We value collaboration, partnerships and cultivating trust and
        authenticity.
      </p>
    </div>

    <!-- =====================>>>>>Footer Started>>>>>======================== -->
    <%- include("partials/footer") %>
  </body>
</html>
