<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Charity</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <script src="./jsfiles/navbar.js"></script>
    <!-- ======================header started====================== -->
    <header></header>

    <!-- ======================Main started====================== -->

    <main>
      <!-- ============abt-01 Section  Start============ -->

      <section class="abt-01">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="heading-wrapper">
                <h3>Blog</h3>
                <ol>
                  <li>Home<i class="far fa-angle-double-right"></i></li>
                  <li>Blog</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ======================Bg-05 started====================== -->

      <h2>No Blogs Yet</h2>
    </main>

    <!-- =====================>>>>>Footer Started>>>>>======================== -->

    <%- include("partials/footer") %>
  </body>

  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/script.js"></script>
</html>
