<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Charity</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <%- include("partials/navbar") %>
    <!-- ======================header started====================== -->
    <header></header>

    <!-- ======================Main started====================== -->

    <main>
      <!-- ============abt-01 Section  Start============ -->

      <!-- ======================Bg-05 started====================== -->

      <h2>No Blogs Yet</h2>
    </main>

    <!-- =====================>>>>>Footer Started>>>>>======================== -->

    <%- include("partials/footer") %>
  </body>

  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/script.js"></script>
</html>
