<%- include("partials/header") %>

<body>
  <%- include("partials/navbar") %>
  <!-- content -->
  <div class="sup-card-contact-0a volunteerism">
    <div class="contact-a1">
      <h2>CAREER SECTION</h2>

      <form method="post" action="/contact">
        <div class="dived d-flex">
          <div class="form-group">
            <div class="form-sup form_items_career">
              <div class="cal-01 career">
                <label>Full Name</label>
                <input
                  type="text"
                  name="name"
                  id=""
                  class="nameInput_career"
                  required
                />
              </div>
              <div class="cal-01 career">
                <label>Email</label>
                <input
                  type="text"
                  name="name"
                  id=""
                  class="nameInput_career"
                  required
                />
              </div>
              <div class="cal-01 career">
                <label>Contact</label>
                <input
                  type="number"
                  name="name"
                  id=""
                  class="nameInput_career"
                  required
                />
              </div>
              <div class="cal-01 career">
                <label>Applying For</label>
                <input
                  type="text"
                  name="name"
                  id=""
                  class="nameInput_career"
                  required
                />
              </div>
              <div class="cal-01 career">
                <label>Upload Your Latest CV</label>
                <input
                  type="file"
                  name="name"
                  id=""
                  class="nameInput_career"
                  required
                />
              </div>
              <div class="ca-ool btn btn_career">
                <button class="mt-2  btn-secondary " type="submit">
                  Apply Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- =====================>>>>>Footer Started>>>>>======================== -->
  <%- include("partials/footer") %>
</body>
