<%- include("partials/header") %>

<body>
  <%- include("partials/navbar") %>
  <main class="charity-01-main">
    <!-- ============abt-01 Section  Start============ -->

    <section class="abt-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading-wrapper">
              <h3>Contact Us</h3>
              <ol>
                <li>
                  <a href="/" style="color: white">Home</a
                  ><i class="fa fa-angle-double-right"></i>
                </li>
                <li>Contact Us</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-0-b">
      <div>
        <p>For 80G Certificate, please write to donation@rhlf.org</p>
      </div>
      <!-- <div>
        <div class="partner_one">
          <div>
            <img src="assets\images\partner\rotaract.jpg" alt="partner" />
          </div>
          <p>Rotaract</p>
        </div>
      </div> -->

      <div class="container">
        <div class="row">
          <div class="main-card-contact d-flex">
            <div class="sup-card-contact">
              <div class="sup-content">
                <div class="head-content">
                  <h2>HELPLINE 24X7</h2>
                  <li>
                    <i class="fal fa-mobile"></i> 02269719935 / +91 9607753148
                  </li>
                  <br />
                </div>

                <div class="contact-title">
                  <h2>Contact Details</h2>
                  <ol>
                    <li>
                      <i class="fa-solid fa-location-dot"></i>Thane, H.No.4453
                      Sathe Nagar Near Manoj Kiran Store Narpoli Bhiwandi, Thane
                      421305 Maharashtra India.
                    </li>
                    <li>
                      <i class="fa-solid fa-location-dot"></i>
                      H.No.1384 Gala No.52, Ground Floor, Shubh Shanti Complex,
                      Anjurphata, Bhiwandi, Thane 421305 Maharashtra India
                    </li>
                    <li><i class="fal fa-mobile"></i> 02269719935</li>
                    <li>
                      <i class="fal fa-envelope"></i
                      >contact@rhlf.org/info@rhlf.org
                    </li>

                    <li></li>
                  </ol>
                </div>
              </div>
            </div>

            <div class="sup-card-contact-0a">
              <div class="contact-a1">
                <h2><b> DROP US A MESSAGE</b></h2>
                <h5>We'd love to hear from you</h5>
                <form method="post" action="/contact">
                  <div class="dived d-flex">
                    <div class="form-group">
                      <div class="form-sup">
                        <div class="cal-01">
                          <input
                            type="name"
                            name="name"
                            id=""
                            class="form-control"
                            placeholder="Enter Your Name"
                            required
                          />
                          <i class="fal fa-user-tie"></i>
                        </div>

                        <div class="cal-01">
                          <input
                            type="phone"
                            name="phone"
                            id=""
                            class="form-control"
                            placeholder="Phone Number"
                            required
                          />
                          <i class="fal fa-phone"></i>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="form-sup">
                        <div class="cal-01">
                          <input
                            type="email"
                            name="email"
                            id=""
                            class="form-control"
                            placeholder="Enter Your Email"
                            required
                          />
                          <i class="fal fa-at"></i>
                        </div>
                        <div class="cal-01">
                          <input
                            type="text"
                            name="subject"
                            id=""
                            class="form-control"
                            placeholder="Enter Your Subject"
                            required
                          />
                          <i class="fal fa-envelope-open-text"></i>
                        </div>
                      </div>
                    </div>

                    <div class="ca-ool">
                      <textarea
                        name="message"
                        cols="80"
                        rows="6"
                        class="form-control"
                        placeholder="Message"
                        required
                      ></textarea>
                    </div>
                    <div class="ca-ool">
                      <button class="mt-2 btn btn-secondary" type="submit">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mab-01">
      <iframe
        style="width: 100%"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.2695759374424!2d73.04105801482504!3d19.27063968697661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bdaa5aaaaaab%3A0x6cfa52641767c98!2sReal%20Happiness%20Of%20Life%20Foundation!5e0!3m2!1sen!2sin!4v1677993141709!5m2!1sen!2sin"
        width="800"
        height="600"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>
  </main>

  <!-- =====================>>>>>Footer Started>>>>>======================== -->

  <%- include("partials/footer") %>
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
<!-- </html> -->
