<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Happiness Of Life Foundation</title>
    <link rel="icon" href="assets/images/logo.png" />
    <link rel="stylesheet" href="assets/css/featuredcampaign.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <%- include("partials/header") %>
    <!-- navbar -->
    <%- include("partials/navbar") %>
    <!-- content -->
    <div class="container one">
        <div class="carousels">
            <div class="titleheading">
                <h2>"Hope Unveiled: Empowering Lives, Inspiring Futures for Children with HIV"</h2>
                <div class="tags">
                    <p>Tax Benefit</p>
                    <p>Disability</p>
                </div>
            </div>
            <img src="assets/images/causes/HivChildren.webp" alt="">
        </div>
        <div class="description">
            <div class="titleheading">
                <h2>"Hope Unveiled: Empowering Lives, Inspiring Futures for Children with HIV"</h2>
                <div class="tags">
                    <p>Tax Benefit</p>
                    <p>Disability</p>
                </div>
            </div>
            <div class="information">
                <!-- <div class="circle">
                    <div class="innercircle">

                    </div>
                </div> -->
                <div class="donors">
                    <p class="donor num">0</p>
                    <p class="donor txt">Donors</p>
                </div>
                <div class="raised">
                    <p class="raised num">₹0</p>
                    <p class="raised txt">Worth Products Raised</p>
                </div>
            </div>
            <div class="campaignhoster">
                <div class="first host">
                    <div class="icon">
                        <p>SP</p>
                    </div>
                    <div class="hostinfo">
                            <p>Campaign Started By</p>
                            <p>Real Happiness Of Life Foundation</p>
                    </div>
                </div>
                <div class="second host">
                    <div class="icon">
                        <p>SP</p>
                    </div>
                    <div class="hostinfo">
                        <p>Campaign Started By</p>
                        <p>Real Happiness Of Life Foundation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container two">
        <div class="leftsection">
            <div class="leftheading">
                <div class="products">
                    <h4>Products</h4>
                </div>
                <div class="projects">
                    <h4>Project</h4>
                </div>
                <div class="updates">
                    <h4>Updates</h4>
                </div>
            </div>
            <div class="collapsable">
                <div class="collapseproduct">
                <h4>Where Your Money goes?</h4>
                <i class="fa-solid fa-circle-chevron-down arrows" id="down"></i>
                <i class="fa-solid fa-circle-chevron-up arrows" id="up"></i>
                </div>
                <div class="collapsedetail">
                    <table>
                    <thead>
                        <tr>
                            <td class="bolddetail" colspan="">Material</td>
                            <td class="bolddetail">Required Quantity</td>
                            <td class="bolddetail">Price/Unit</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="normaldetails" colspan="">Rice 10kg</td>
                            <td class="normaldetails">250</td>
                            <td class="normaldetails">₹550</td>
                        </tr>
                        <tr>
                            <td class="normaldetails" colspan="">Soya chunks 2Kg</td>
                            <td class="normaldetails">250</td>
                            <td class="normaldetails">₹270</td>
                        </tr>
                        <tr>
                            <td class="normaldetails" colspan="">Urad daal 2kg</td>
                            <td class="normaldetails">250</td>
                            <td class="normaldetails">₹280</td>
                        </tr>
                        <tr>
                            <td class="normaldetails" colspan="">Rajma 2kg</td>
                            <td class="normaldetails">250</td>
                            <td class="normaldetails">₹300</td>
                        </tr>
                        <tr>
                            <td class="normaldetails" colspan="">Besan 2kg</td>
                            <td class="normaldetails">250</td>
                            <td class="normaldetails">₹190</td>
                        </tr>
                        <tr>
                            <td class="normaldetails" colspan="">Hygeine Kit(545)</td>
                            <td class="normaldetails">250</td>
                            <td class="normaldetails">₹545</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="bolddetail" colspan="2">Total Campaign Goal</td>
                            <!-- <td class="bolddetail"></td> -->
                            <td class="bolddetail">₹34,00,000</td>
                        </tr>
                    </tfoot>
                    </table>
                </div>
                <div class="collapsepayement">
                <div class="amt">₹1000</div>
                <div class="amt">₹1500</div>
                <div class="amt">₹2000</div>
                <div class="amt"><input type="text" placeholder="Enter Amount" style="text-align: center; width: 100%;"></div>
                </div>
            </div>
            <div class="projectdetail">
                <h4>Project</h4>
                <div class="firsst para">
                    <p>
                        <strong>HIV/AIDS is a devastating disease that affects millions of people around the world, including children.</strong> Children who are born with HIV or who contract it from their parents face many challenges, including discrimination, stigmatization, and limited access to healthcare. Without proper treatment, HIV can be a life-threatening disease. We believe that every child deserves the chance to live a healthy and fulfilling life, regardless of their HIV status.
                    </p>
                    <img src="assets\images\causes\hivchildren1.webp" alt="">
                </div>    
                <div class="second para">
                    <p>
                        <strong>The first step in saving the lives of HIV-affected children is to raise awareness about the challenges they face.</strong> Many people are not aware of the impact that HIV has on children, and this lack of understanding can lead to stigmatization and discrimination. By raising awareness, we can reduce the stigma associated with HIV and encourage people to support HIV-affected children.
                    </p>
                    <img src="assets\images\causes\hivchildren2.webp" alt="">
                </div>    
                <div class="third para">
                    <p>
                        <strong>Reducing stigma and discrimination is also critical in saving the lives of HIV-affected children.</strong> Many children living with HIV face discrimination and exclusion from their communities and schools. This can have a devastating impact on their self-esteem and mental health. By promoting understanding and acceptance, we can create a more inclusive and supportive environment for HIV-affected children.
                        <br><br>
                        <strong>In conclusion, saving the lives of HIV-affected children is a collective responsibility.</strong> We must raise awareness, provide access to life-saving medications and treatments, support families and communities affected by HIV/AIDS, and reduce stigma and discrimination. By working together, we can ensure that every child has the chance to live a healthy and fulfilling life, regardless of their HIV status. Let us take action today to save the lives of HIV-affected children and create a more just and compassionate world for all.
                    </p>
                    <img src="assets\images\causes\hivchildren3.webp" alt="">
                </div>    
                <div class="fourth para">
                    <p>
                        <strong>About the NGO: Real Happiness of Life Foundation,</strong> We work in the best interest of the needy. We focus on the basics, such as education, health, food, and shelter. Our approach is holistic, and our style is hands-on. We are on the ground, where it matters most for the child. We enable both families and communities. We have several grassroots initiatives. We will be completing our first decade of growth soon. We started working in 2021. We are building on our many successes and reaching out to more and more marginalized people.
                    </p>
                      
                </div>    
            </div>
            <div class="projectdetail updates mr">
                <h4>Updates</h4>
                <div class="updatebody">
                    <p>Feel free to ask <b>Campaigner</b> for a new update on this Fundraiser.</p>
                    <button>Ask for update</button>
                </div>
            </div>
            <div class="faqSection mr">
                <h4 class="fheadings">FAQs</h4>

                <div class="faqs">
                    <div class="faqsheading">
                        <h4>What is Real Happiness of Life Foundation</h4>
                        <i class="fa-solid fa-circle-chevron-down arrows" id="down"></i>
                    </div>
                    <div class="content">
                        <p class="faqcontent">Real Happiness Of Life Foundation is India's one of a kind crowdfunding platform that allows donors to directly donate towards products that are required by the NGO. In the last 5 years, we have partnered with 1400+ NGOs all over India to raise 150+ crores worth of products. More than 5 lakh unique donors have used our platform to donate to charities of their choice. As a donor, you are guaranteed 100% transparency - after you donate towards the products, you will receive an update from the campaigner.</p>
                    </div>
                </div>
                <div class="faqs">
                    <div class="faqsheading">
                        <h4>How to claim Tax-Exemption for my contributions on RHLF?</h4>
                        <i class="fa-solid fa-circle-chevron-down arrows" id="down"></i>
                    </div>
                    <div class="content">
                        <p class="faqcontent">
                            <p>After you complete your donation successfully, you will find the <strong>'GET 80G'</strong> button on the payment success page. Please fill in your PAN number, complete address, and name as per PAN and submit. Your <strong>80G certificate</strong> will be generated and sent via email within 24 hours.</p>

                            <p>Alternatively, you can get your <strong>80G receipt</strong> in a few simple steps:</p>
                            <ul>
                              <li>Log in to your account using the same email ID you used for the donation</li>
                              <li>Go to <strong>‘My Donations’</strong></li>
                              <li>Choose the financial year for which you'd like the donation certificate</li>
                              <li>Click on <strong>‘Download 80G Certificate’</strong></li>
                              <li>Fill out the Form (if required)</li>
                              <li>Submit the form and <strong>80G</strong> will get downloaded instantly</li>
                            </ul>

                            <p>Instead of receiving separate <strong>80G certificates</strong> for each donation, you'll receive a consolidated <strong>80G certificate</strong> via email covering all your donations made through our platform in the financial year. Further, The corresponding <strong>10BE form</strong> that proves your eligibility for the tax deduction will also be consolidated. This way, you won't have to worry about multiple downloads and can save time.</p>
                        </p>
                    </div>
                </div>
                <div class="faqs">
                    <div class="faqsheading">
                        <h4>How To Avail 10BE?</h4>
                        <i class="fa-solid fa-circle-chevron-down arrows" id="down"></i>
                    </div>
                    <div class="content">
                        <p class="faqcontent">
                            <p>To qualify for tax exemption on your donations, you need to obtain a <strong>10BE</strong>. This can be done by filing your <strong>80G</strong> claims for donations made during the Financial Year (FY). You can download your <strong>10BE</strong> from the ‘My Profile’ section by <strong>31st May</strong> of the next FY and also receive it via email.</p>

                            <p>For example: if you made donations between <strong>April 2023</strong> and <strong>March 2024</strong> (FY 2023-24), you will get your <strong>10BE</strong> by <strong>31st May 2024</strong>, provided you need to claim the <strong>80G</strong> for these donations.</p>

                            <p>Please note that you cannot claim <strong>80G</strong> for donations made between <strong>April 2022</strong> and <strong>March 2023</strong> (FY 2022-23) anymore as the window for claiming it has closed. However, you can still get the <strong>10BEs</strong> for that year if you made <strong>80G</strong> claims on or before <strong>31st July 2023</strong>.</p>

                        </p>
                    </div>
                </div>
                <div class="faqs">
                    <div class="faqsheading">
                        <h4>Why do we collect a tip amount ?</h4>
                        <i class="fa-solid fa-circle-chevron-down arrows" id="down"></i>
                    </div>
                    <div class="content">
                        <p class="faqcontent">
                            <p>Sometimes prices of the products change during the course of the campaign, and we use these <strong>tips</strong> to cover the hike in prices and deliver the goods to NGOs.</p>
                            <p><strong>Tip</strong> is a voluntary contribution towards our platform, and donors can choose to give any amount as tips.</p>
                        </p>
                    </div>
                </div>
                <div class="faqs">
                    <div class="faqsheading">
                        <h4>Are these NGOs verified ?</h4>
                        <i class="fa-solid fa-circle-chevron-down arrows" id="down"></i>
                    </div>
                    <div class="content">
                        <p class="faqcontent">
                            All these NGOs are registered and are highly reputed in their areas of service. You can visit them and talk to them in person if you desire. Please write into us at info@Rhlf.com and we'll provide you with all their contact details.
                        </p>
                    </div>
                </div>
                <div class="faqs">
                    <div class="faqsheading">
                        <h4>How do I know these products have reached the right beneficiary ?</h4>
                        <i class="fa-solid fa-circle-chevron-down arrows" id="down"></i>
                    </div>
                    <div class="content">
                        <p class="faqcontent">
                            At RHLF, we value 100% trust and transparency. It is mandatory for NGOs to send updates to donors,once the campaign is completed. We request you to wait for a few days so that we can deliver the products to our NGO partners and they can distribute them to the needy.Within a month,you would see update(s) in the form of pictures or videos from the NGO in the 'Updates Tab' of the campaign you donated to.
                        </p>
                    </div>
                </div>
                <div class="faqs">
                    <div class="faqsheading">
                        <h4>How to Donate ?</h4>
                        <i class="fa-solid fa-circle-chevron-down arrows" id="down"></i>
                    </div>
                    <div class="content">
                        <p class="faqcontent">
                            Choose a campaign on Donatekart close to your heart. Add products to cart and proceed to payment. Select your "currency" and complete the transaction.We have a secured payment gateway that allows you to pay through a wide range of secure payment options.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightsection">
            <div class="logos">
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i> <span>Spread The Word</span> </a>
                <a href="https://www.twitter.com/" class="roundicon"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.whatsapp.com/" class="roundicon"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.google.com/" class="roundicon"><i class="fa-solid fa-link"></i></a>
            </div>

        </div>
    </div>

    <%- include("partials/footer") %>
    <script>
        const arrows=document.getElementsByClassName('arrows')
        const box=document.querySelector('.collapseproduct')
        const down=document.querySelector('#down')
        console.log(box)
        const details=document.querySelector('.collapsedetail')
        const payement=document.querySelector('.collapsepayement')
        let counter=0
        box.addEventListener('click',(e)=>{
            console.log(arrows)
            console.log("clicked")
            if (counter==0) {
                console.log(counter)
                console.log(arrows[1])
                arrows[1].style.display='none'
                arrows[0].style.display='inline-block'
                details.style.display='none'
                payement.style.display='none'
                counter++
                
            } else {
                console.log(arrows[0])
                arrows[0].style.display='none'
                arrows[1].style.display='inline-block'
                details.style.display='grid'
                payement.style.display='grid'
                counter=0
            }
        })
        // FAQ section
        const faqbar=document.querySelectorAll('.faqs')
        console.log(faqbar)
        for (const faq of faqbar) {
            faq.addEventListener('click',(e)=>{
                console.log(faq)
                const faqcontent=faq.querySelector('.content')
                const arrro=faq.querySelector("#down")
                if (faqcontent.style.display === '' || faqcontent.style.display === 'none') {
                    faqcontent.style.display='block'
                    console.log('inside If')
                    console.log(arrro)
                    arrro.style.transform = 'rotate(180deg)';
                } else {
                    faqcontent.style.display='none'
                    arrro.style.transform = 'rotate(0deg)';
                }
            })
        }
    </script>
</body>
</html>