<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Happiness Of Life Foundation</title>
    <link rel="icon" href="assets/images/logo.png" />
    <link rel="stylesheet" href="assets/css/featuredcampaign.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <%- include("partials/header") %>
    <!-- navbar -->
    <%- include("partials/navbar") %>
    <!-- content -->
    <div class="container one">
        <div class="carousels">
            <div class="titleheading">
                <h2>Help Real Happiness of Life Foundation Into a Save Lives of Injured & Leprosy Affected People</h2>
                <div class="tags">
                    <p>Tax Benefit</p>
                    <p>Disability</p>
                </div>
            </div>
            <img src="assets/images/causes/Leprosy-Patients.webp" alt="">
        </div>
        <div class="description">
            <div class="titleheading">
                <h2>"EmpowerAbility: Providing Aid and Hope for Children with Disabilities"</h2>
                <div class="tags">
                    <p>Tax Benefit</p>
                    <p>Disability</p>
                </div>
            </div>
            <div class="information">
                <!-- <div class="circle">
                    <div class="innercircle">

                    </div>
                </div> -->
                <div class="donors">
                    <p class="donor num">3</p>
                    <p class="donor txt">Donors</p>
                </div>
                <div class="raised">
                    <p class="raised num">1,460</p>
                    <p class="raised txt">Worth Products Raised</p>
                </div>
            </div>
            <div class="campaignhoster">
                <div class="first host">
                    <div class="icon">
                        <p>SP</p>
                    </div>
                    <div class="hostinfo">
                            <p>Campaign Started By</p>
                            <p>Shivam Pathak</p>
                    </div>
                </div>
                <div class="second host">
                    <div class="icon">
                        <p>SP</p>
                    </div>
                    <div class="hostinfo">
                        <p>Campaign Started By</p>
                        <p>Shivam Pathak</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container two">
        <div class="leftsection">
            <div class="leftheading">
                <div class="products">
                    <h4>Products</h4>
                </div>
                <div class="projects">
                    <h4>Project</h4>
                </div>
                <div class="updates">
                    <h4>Updates</h4>
                </div>
            </div>
            <div class="collapsable">
                <div class="collapseproduct">
                <h4>Where Your Money goes?</h4>
                <i class="fa-solid fa-circle-chevron-down arrows" id="down"></i>
                <i class="fa-solid fa-circle-chevron-up arrows" id="up"></i>
                </div>
                <div class="collapsedetail">
                    <table>
                    <thead>
                        <tr>
                            <td class="bolddetail" colspan="">Material</td>
                            <td class="bolddetail">Required Quantity</td>
                            <td class="bolddetail">Price/Unit</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="normaldetails" colspan="">Mobility Kit</td>
                            <td class="normaldetails">500</td>
                            <td class="normaldetails">₹6800</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="bolddetail" colspan="2">Total Campaign Goal</td>
                            <!-- <td class="bolddetail"></td> -->
                            <td class="bolddetail">₹34,00,000</td>
                        </tr>
                    </tfoot>
                    </table>
                </div>
                <!-- <div class="collapsedetail">
                <p class="bolddetail">Material</p>
                <p class="bolddetail">Required Quantity</p>
                <p class="bolddetail">Price/Unit</p>
                <p class="normaldetails">Mobility Kit</p>
                <p class="normaldetails">500</p>
                <p class="normaldetails">₹6800</p>
                <p class="brown bolddetail">Total Campaign Goal</p>
                <p class="brown bolddetail">₹34,00,000</p>
                </div> -->
                <div class="collapsepayement">
                <div class="amt">₹1000</div>
                <div class="amt">₹1500</div>
                <div class="amt">₹2000</div>
                <div class="amt"><input type="text" placeholder="Enter Amount" style="text-align: center;"></div>
                </div>
            </div>
           <div class="projectdetail">
                <h4>Project</h4>
                <div class="firsst para">
                    <p>Every child deserves the chance to experience the joy of independence and explore the world around them. However, many physically disabled children face challenges in accessing mobility aids, such as wheelchairs, walkers, and walking canes, that can significantly enhance their quality of life. Your generous donation can make a tremendous difference by supporting these children and giving them the tools they need to lead independent lives. Join us in our mission to empower these young souls and unlock their potential as they embrace life's journey with confidence.</p>
                    <img src="assets\images\causes\wheelchaikid.webp" alt="">
                </div>    
                <div class="second para">
                    <p>The Need for Mobility Aids: Physically disabled children encounter various obstacles in their daily lives due to limited mobility. Basic tasks like going to school, playing with friends, or even moving around at home can become arduous without the necessary mobility aids. With your donation, we can provide these children with well-fitted wheelchairs, walkers, and walking canes tailored to their specific needs, ensuring they can move freely and participate in various activities without barriers</p>
                    <img src="assets\images\causes\strecherkid.webp" alt="">
                </div>    
                <div class="third para">
                    <p>The Impact of Your Donation: Your contribution can create a lasting impact on the lives of these young individuals. By providing them with the proper mobility aids, you will be enabling them to</p>
                    <p><b>Gain Independence:</b> Mobility aids grant them the freedom to move independently, fostering a sense of autonomy and self-confidence</p>
                    <p><b>Access Education:</b> With enhanced mobility, they can attend school regularly, participate actively, and pursue knowledge like any other child</p>
                    <img src="assets\images\causes\disablekid1.webp" alt="">
                </div>    
                <div class="fourth para">
                    <p>Engage in Social Activities: Being mobile allows them to interact with their peers, form friendships, and engage in recreational activities, fostering social skills and emotional well-being.</p>
                    <p><b>Improve Physical Health</b>  Proper mobility aids promote better posture, circulation, and overall physical well-being, minimizing the risk of secondary complications.</p>
                    <p><b>Procuring Mobility Aids:</b> We will workwith reputable suppliers to obtain high-quality wheelchairs, walkers, and walking canes that are safe, durable, and suited to each child's unique needs.</p>
                    <img src="assets\images\causes\wheelchairkid1.webp" alt="">
                </div>    
                <div class="fifth para">
                    <p>Customization and Maintenance: Each child's requirements are different, and our team of experts will ensure that the mobility aids are personalized and regularly maintained for optimal functionality.</p>
                    <p><b>Training and Support:</b>We will conduct workshops and training sessions for the children and their families, empowering them to make the most of these aids and integrate them seamlessly into daily life.</p>
                    <img src="assets\images\causes\wheelchairkid2.webp" alt="">
                </div>    
                <div class="fifth para">
                    <p>Together, we can bring joy and independence into the lives of physically disabled children. Your compassionate support will empower them to dream big, overcome challenges, and lead fulfilling lives. Let us join hands in this noble cause and make a significant difference in the lives of these exceptional children</p>
                    <p>Your donation today is a step towards building a more inclusive and compassionate world for all. Thank you for your generosity and kindness.</p>
                    <p><b>About the NGO:</b>Grace of Glory Ministry Trust (GGMT) is an Indian NGO in Bhiwandi, Maharashtra. The Grace of Glory Ministry Trust is a non-governmental organization dedicated to the social development and welfare of the state's people, focusing on the areas of health education, legal aid for women, support for women's households and their children, and other marginalized groups. Orphan children, Child Education, Child Welfare, and child rights.</p>
                </div>    
            </div>
            <div class="projectdetail updates mr">
                <h4>Updates</h4>
                <div class="updatebody">
                    <p>Feel free to ask <b>Campaigner</b> for a new update on this Fundraiser.</p>
                    <button>Ask for update</button>
                </div>
            </div>
        </div>

        <div class="rightsection">
            <div class="logos">
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i> <span>Spread The Word</span> </a>
                <a href="https://www.twitter.com/" class="roundicon"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.whatsapp.com/" class="roundicon"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.google.com/" class="roundicon"><i class="fa-solid fa-link"></i></a>
            </div>

        </div>
    </div>

    <%- include("partials/footer") %>
    <script>
        const arrows=document.getElementsByClassName('arrows')
        console.log(arrows)
        
        const details=document.querySelector('.collapsedetail')
        const payement=document.querySelector('.collapsepayement')
        console.log(details)
        console.log(payement)
        let counter=0
        arrows[0].addEventListener('click',(e)=>{
            arrows[0].style.display='none'
            arrows[1].style.display='inline-block'
            details.style.display='grid'
            payement.style.display='grid'
        })
        arrows[1].addEventListener('click',(e)=>{
            arrows[1].style.display='none'
            arrows[0].style.display='inline-block'
            details.style.display='none'
            payement.style.display='none'
        })
    </script>
</body>
</html>