<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Happiness Of Life Foundation</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
    <style>
      .icon-bar{
    display: flex;
    flex-direction: row;
    box-shadow: -7px -7px 20px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0001,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001 ;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 350px;
    position: relative;
    transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
    border-radius: 10px;
            }
            .btnsl{
    height: 35px;
    width: 35px;
    border-radius: 3px;
   box-shadow:  -7px -7px 20px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0001,
    4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001 ;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-size: 16px;
   color: rgba(42,52,84,1);
   text-decoration: none; 
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
 
transition: box-shadow 0.6s cubic-bezier(0.79,0.21,0.06,0.81);
}
.btn:active{
    box-shadow: 4px -4px 6px 0px rgba(255,255,255,0.5),
                -4px -4px 6px 0px rgba(116,125,136,0.2),
                inset -4px -4px 6px 0px rgba(255,255,255,0.5),
                inset 4px 4px 6px 0px rgba(116,125,136,0.3);
}
@media screen and (max-width: 500px) {
  .newAdd{
    width: 280px; 
    height: 100px;
  }
  .newAdd .row img{
    height: 50px; 
    width: 50px; 
    padding: 10px;
  }
  .newAdd .row h5{
    padding: 10px;
  }
}
    </style>
</head>

<body>
  <!-- ======================header started====================== -->
  <script src="./jsfiles/navbar.js"></script>

  <!-- ======================Main started====================== -->

  <main>

    <!-- ======================Banner started====================== -->


    <section class="banner">
      <div class="container">
        <center>
        <div class="row">
          <div class="col-12">
            <div class="wrapper">
              <h1>EMERGENCY MEDICAL SUPPORT</h1>
              <p></p>
              <ol>
                <li><a href="#">Donate Now</a></li>
              </ol>
            </div>
          </div>
        </div>
      </center>
      </div>
    </section>
   
    <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
      <center><img src="assets/images/causes/2.jpeg" style="height: 280px; width: 450px; margin-bottom: 25px;"></center>
      <center><div style="box-shadow: 5px 5px 10px; width: 350px;">
        <div class="icon-bar">
          <a href="https://www.facebook.com/rhlfofficial/" class="btnsl"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/rhlfofficial" class="btnsl"><i class="fab fa-twitter"></i></a>
          <a href="https://youtube.com/channel/UCPGUOZUxESUOLNaTjeElSWQ" class="btnsl"><i class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/company/rhlfofficial/" class="btnsl"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/rhlfofficial/" class="btnsl"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </center>
        <p style="margin-top: 30px; margin-bottom: 30px;"><div style="margin-bottom: 30px;"><h3><b>Baby Ganishka Rathod (3 Years Old Baby)</b></h3>

          <div style="margin-bottom: 20px;"><h5><b>FAMILY DETAIL:</b></h5> Mr. Tapas Rathod (Father of Baby Ganishka) is a spectacular retailer. He somehow manages to earn Rs 8,000/- monthly which goes in daily bread and butter. They are a 4-member family and his wife Mrs. Megha Rathod is a home-maker. As he is the only whole and sole earner in his family managing both daily expenses and his daughter’s medical treatment cost is very difficult for him.</div>
          
          <div style="margin-bottom: 20px;">Total Estimated Cost is Rs 20,00,000/-</div>
          
          <div style="margin-bottom: 20px;"><h5><b>PATIENT DETAIL:</b></h5> Baby Ganishka Rathod is a 3 Years Old Girl Child suffering from HighRisk Neuroblastoma. It is a Tumour cancer which needs intensive treatment alongwith chemotherapy followed by Stem Cell Transplantation. The baby is being treated in Kokilaben Dhirubhai Ambani Hospital at Andheri under the care of Dr. Santanu Sen.</div>
          
          <div style="margin-bottom: 20px;">The family is totally drained mentally and financially they have now approached to Nanhi Pari Foundation with great hope so we humbly request you to please come forward with a supporting hand and save this innocent’s life.</div>
          
          <div style="margin-bottom: 20px;">We can’t help everyone but everyone can come together and help save someone. Your small contribution can help save a child’s life. We urge you to support the maximum possible for this child.</div>
          
          <div style="margin-bottom: 20px;"><b>How Can You Help?</b></div>
          -You can Donate to the Fundraiser<br>
          -You can share story on Facebook and WhatsApp so that their story reaches to more people like you who will impact his life<br>
          <div style="margin-bottom: 20px;">-You can Volunteer to Raise Funds and save life.</div>
          
          <div style="margin-bottom: 20px;">50% Tax Exemption under 80(G)</div>
          <div style="margin-bottom: 20px;">FUNDS DONATED WILL BE USED FOR TREATMENT</div>
          
          <div style="margin-bottom: 30px;">Kindly also share the fundraiser with your family and friends and help them to reach the goal. We will be grateful for your help!</div>
        
          <center><div style="margin-bottom: 30px;"><h3><b>Supporting Documents</b></h3></div>
            <img src="assets/images/causes/ganshika1.jpeg" style="box-shadow: 2px 1px 2px 1px; margin-top: 30px; margin-bottom: 25px;">
            <img src="assets/images/causes/ganshika2.jpeg" style="box-shadow: 2px 1px 2px 1px; margin-top: 30px; margin-bottom: 25px;">
            <img src="assets/images/causes/ganshika3.jpeg" style="box-shadow: 2px 1px 2px 1px; margin-top: 30px; margin-bottom: 25px;">
          </center>
        <!--<center><div class="newAdd" style="box-shadow: 5px 5px 10px; width: 280px; height: 100px;">
          <div class="row">
            <div class="col-md-6"><img src="assets/images/causes/1.jpeg" style="border-radius: 50%; height: 50px; width: 50px; padding: 10px;"></div>
            <div class="col-md-6"><h5 style="padding: 10px;">Sita</h5></div>
          </div>
          <div class="row">
            <div class="col-md-6"><img src="assets/images/causes/1.jpeg" style="border-radius: 50%;  height: 50px; width: 50px; padding: 10px;"></div>
            <div class="col-md-6"><h5 style="padding: 10px;">Sita</h5></div>
          </div>
        </div>
      </center>--->
      </div>
        
            
    </div>
   
  <!-- =====================>>>>>Footer Started>>>>>======================== -->
    <%- include("partials/footer") %>
  
</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html>