<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Happiness Of Life Foundation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/navbar.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js" integrity="sha512-KvlmAB+wx0zLQRe7hCFzBwyaU/AvbwPoJgxfBZ6g+ZF9MBMY4YAo3+BycXH2Rc+fDPbZ0fJsi3AfOTmQYZEn9A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.tailwindcss.com/your-tailwind-css-version.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
  <!-- ======================header started====================== -->
  <script src="./jsfiles/navbar.js"></script>
  <!-- ======================header started====================== -->
  

  <!-- ======================Main started====================== -->
  
  <main>

    <!-- ======================Banner started====================== -->
    
    <div class="container" style="margin-top: 30px;">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/images/slider/4.jpeg">
          <div class="mask rgba-black-light"></div>
            <div class="carousel-caption">
            </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="assets/images/slider/11.jpeg">
          <div class="mask rgba-black-light"></div>
            <div class="carousel-caption">
            </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="assets/images/slider/10.jpeg">
          <div class="mask rgba-black-light"></div>
            <div class="carousel-caption">
            </div>
        </div>
        </div>
        
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- ======================Bg-02 started====================== -->

    <section class="bg-02">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>MEDICAL EMERGENCY CASES</h2>
              <p>Make Someone cry with tears of happiness.....</p>
            </div>
          </div>
           
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="wrapper">
              <figure>
                <img src="assets/images/team/4.jpeg">
                <a href="/Ananva"><img src="assets/images/causes/3.png"></a>
              </figure>
              <div class="bs">
                <h3>Save The Life Ananya Jain</h3>
                <p>Baby Annanya Jain is 3 years Old Female Child admitted in Neonest Hospital, New Delhi.
                </p>
                <ol>
                  <li><i class="fal fa-signal"></i>Goal: Rs.10,00,000/-</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="wrapper">
              <figure>
                <img src="assets/images/team/4.jpeg">
                <a href="/habiba"><img src="assets/images/causes/1.png"></a>
              </figure>
              <div class="bs">
                <h3>Save The Life Umme Habiba Khan</h3>
                <p>Baby Umme Habiba Khan is a 9 Years Old Girl Child suffering from Acute Leukemia.</p>
                
                  </p>
                  <ol>
                    <li><i class="fal fa-signal"></i>Goal: Rs.9,50,000/-</li>
                  </ol>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="wrapper">
              <figure>
                <img src="assets/images/team/4.jpeg">
                <a href="/Ganshika"><img src="assets/images/causes/2.png"></a>
              </figure>
              <div class="bs">
                <h3>Save The Life Ganshika Rathod</h3>
                <p>Baby Ganishka Rathod is a 3 Years Old Girl Child suffering from HighRisk Neuroblastoma.</p>
                <ol>
                  <li><i class="fal fa-signal"></i>Goal: Rs.20,00,000/-</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

        

        

     <!-- ======================Bg-03 started====================== -->

     <section class="bg-03">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>OUR PROGRAMMES</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="content">
                <ol>
                  <li>
                    <div class="" >
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            
                            <div class="carousel-item active">
                              <img class="" src="assets/images/causes/food1.jpeg" style="width: 500px; height: 350px;">
                                
                            </div>
                            <div class="carousel-item">
                              <img class="" src="assets/images/causes/food2.jpeg" style="width: 500px; height: 350px;">
                                
                            </div>
                        
                            </div>
                            </div>
                          </div>
                    <div class="bs">
                    <h3 style="margin-top: 40px; margin-bottom: 30px;">GRACE FOOD BANK</h3>
                    <p>Countless Lives Depend Grace Food Bank.
                      Countless lives depend on Grace Food Bank. Donate to support their cause<center><p><a href="Program3.html">Read more</a></p></center>
                    </p>
                    <button type="button" id="donate-button" class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl" onclick="window.location.href = '/donate';"><i class="fa-solid fa-heart"></i> Donate</button>
                  </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="content">
                <ol>
                  <li>
                      <div class="" >
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              
                              <div class="carousel-item active">
                                <img class="" src="assets/images/causes/smile1.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/smile2.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/smile3.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              </div>
                              </div>
                            </div>
                            <div class="bs">
                    <h3 style="margin-top: 40px; margin-bottom: 30px;">MISSION SMILE PROGRAM</h3>
                    <p>SAVE LIVES, GIVE SMILES.
                      Your Support Can Save A Child Today
                      
                      A Single, Solvable Problem: Cleft Lip and Palate
                      Many children around the world are living with untreated clefts. Most have difficulties eating, breathing, hearing, and speaking.<center><p><a href="Program9.html">Read more</a></p></center></p>
                      <button type="button" id="donate-button" class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl" onclick="window.location.href = '/donate';"><i class="fa-solid fa-heart"></i> Donate</button>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="content">
                <ol>
                  <li>
                      <div class="" >
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              
                              <div class="carousel-item active">
                                <img class="" src="assets/images/causes/clubfoot1.png" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/clubfoot2.png" style="width: 500px; height: 350px;">
                                  
                              </div>
                              
                              </div>
                              </div>
                            </div>
                            <div class="bs">
                            <h3 style="margin-top: 40px; margin-bottom: 30px;">CLUBFOOT ELIMINATION PROGRAM</h3>
                    <p>Every single day Clubfoot robs children of their childhood. A problem that has such an effective and affordable solution does not get addressed because of the ignorance and stigma around it.
                      Every hour you contribute by joining our efforts helps us ensure that this doesn’t happen and children with clubfoot get the treatment they deserve.<center><p><a href="Program7.html">Read more</a></p></center></p>
                      <button type="button" id="donate-button" class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl" onclick="window.location.href = '/donate';"><i class="fa-solid fa-heart"></i> Donate</button>
                    </div>
                     
                    </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="content">
                <ol>
                  <li>
                      <div class="" >
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              
                              <div class="carousel-item active">
                                <img class="" src="assets/images/causes/old1.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/old2.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/old3.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/old4.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              </div>
                              </div>
                            </div>
                            <div class="bs">
                    <h3 style="margin-top: 40px; margin-bottom: 30px;">HOME FOR HOMELESS PROGRAM</h3>
                    <p>Home For Homeless in Bhiwandi to Care to the homeless as well as those suffering from mental health issues in and around Mumbai. Every being deserves a peaceful life, however, this is often not the case. We see some people living on the sidewalk, some under vehicle bridges, some at railway stations, some having amputated parts of the body,<center><p><a href="Program4.html">Read more</a></p></center></p>
                    <button type="button" id="donate-button" class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl" onclick="window.location.href = '/donate';"><i class="fa-solid fa-heart"></i> Donate</button>
                  </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="content">
                <ol>
                  <li>
                      <div class="" >
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              
                              <div class="carousel-item active">
                                <img class="" src="assets/images/causes/edu1.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/edu2.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                             
                              </div>
                              </div>
                            </div>
                            <div class="bs">
                    <h3 style="margin-top: 40px; margin-bottom: 30px;">MISSION EDUCATION PROGRAM</h3>
                    <p>Education changes everything
                      Education is the driver for sustainable change and So They Can believe that empowering communities through a quality education is the key to breaking the poverty cycle.<center><p><a href="Program11.html">Read more</a></p></center></p>
                      <button type="button" id="donate-button" class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl" onclick="window.location.href = '/donate';"><i class="fa-solid fa-heart"></i> Donate</button>
                    </div>
                    </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="content">
                <ol>
                  <li>
                      <div class="" >
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              
                              <div class="carousel-item active">
                                <img class="" src="assets/images/causes/maternal1.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/maternal2.png" style="width: 500px; height: 350px;">
                                  
                              </div>
                              
                              </div>
                              </div>
                            </div>
                            <div class="bs">
                    <h3 style="margin-top: 40px; margin-bottom: 30px;">MATERNAL & CHILD HEALTH PROGRAM</h3>
                    <p>A continuum of care RMNCH+A (Reproductive, Maternal, Newborn, Child and Adolescent Health) means working with women and children from birth to adulthood in order to break the intergenerational cycle of poor health.<center><p><a href="Program8.html">Read more</a></p></center></p>
                    <button type="button" id="donate-button" class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl" onclick="window.location.href = '/donate';"><i class="fa-solid fa-heart"></i> Donate</button>
                  </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="content">
                <ol>
                  <li>
                      <div class="" >
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              
                              <div class="carousel-item active">
                                <img class="" src="assets/images/causes/health1.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/health2.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              
                              </div>
                              </div>
                            </div>
                            <div class="bs">
                    <h3 style="margin-top: 40px; margin-bottom: 30px;">HEALTH & NUTRITION PROGRAM</h3>
                    <p>Health and Nutrition
                      Tackling Public  empowering systems and promoting community ownership of Needy nutrition<center><p><a href="Program6.html">Read more</a></p></center></p>
                      <button type="button" id="donate-button" class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl" onclick="window.location.href = '/donate';"><i class="fa-solid fa-heart"></i> Donate</button>
                    </div>
                    </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="content">
                <ol>
                  <li>
                      <div class="" >
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              
                              <div class="carousel-item active">
                                <img class="" src="assets/images/causes/women1.png" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/women2.png" style="width: 500px; height: 350px;">
                                  
                              </div>
                              
                              </div>
                              </div>
                            </div>
                            <div class="bs">
                    <h3 style="margin-top: 40px; margin-bottom: 30px;">WOMEN EMPOWERMENT PROGRAM</h3>
                    <p>Helping women find their voice is deeply empowering and has a ripple effect on families and society.Real Happiness Of Life Foundation believes that women’s issues cannot be addressed in isolation but within their social and institutional milieu. Women’s representation is crucial in social, political and economic processes for a thriving society.
                      Whilst gender is a cross-cutting theme across all our activities, specific initiatives aimed at women are:<center><p><a href="Women.html">Read more</a></p></center></p>
                      
                      <button type="button" id="donate-button" class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl" onclick="window.location.href = '/donate';"><i class="fa-solid fa-heart"></i> Donate</button>
                    </div>
                    </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="wrapper">
              <div class="content">
                <ol>
                  <li>
                      <div class="" >
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              
                              <div class="carousel-item active">
                                <img class="" src="assets/images/causes/animal1.jpeg" style="width: 500px; height: 350px;">
                                  
                              </div>
                              <div class="carousel-item">
                                <img class="" src="assets/images/causes/animal2.png" style="width: 500px; height: 350px;">
                                  
                              </div>
                              
                              </div>
                              </div>
                            </div>
                            <div class="bs">
                    <h3 style="margin-top: 40px; margin-bottom: 30px;">ANIMAL WELFARE PROGRAM</h3>
                    <p>Help us look after our permanent family members by sponsoring their daily requirements.This includes food, medication, treatments, and trained caretakers.<center><p><a href="Program2.html">Read more</a></p></center></p>
                    <button type="button" id="donate-button" class="bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl"  onclick="window.location.href = '/donate';"><i class="fa-solid fa-heart"></i> Donate</button>
                  </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 

  
  
  <section class="bg-03">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>OUR INITIATIVE</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="content">
              <ol>
                <li>
                  <i class="fal fa-house-flood"></i>
                  <h3>GRACE FOOD BANK</h3>
                  <p>Countless Lives Depend Grace Food Bank.

                    Countless lives depend on Grace Food Bank. Donate to support their cause</p>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="content">
              <ol>
                <li>
                  <i class="fal fa-graduation-cap"></i>
                  <h3>MISSION EDUCATION PROGRAM</h3>
                  <p>Education changes everything
                    Education is the driver for sustainable change and So They Can believe that empowering communities through a quality education is the key to breaking the poverty cycle.</p>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="content">
              <ol>
                <li>
                  <i class="fal fa-home"></i>
                  <h3>HOME FOR HOMELESS PROGRAM</h3>
                  <p>Home For Homeless in Bhiwandi to Care to the homeless as well as those suffering from mental health issues in and around Mumbai. Every being deserves a peaceful life, however, this is often not the case. We see some people living on the sidewalk, some under vehicle bridges, some at railway stations, some having amputated parts of the body,</p>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="content">
              <ol>
                <li>
                  <i class="fal fa-smile"></i>
                  <h3>MISSION SMILE PROGRAM</h3>
                  <p>SAVE LIVES, GIVE SMILES.
                    Your Support Can Save A Child Today
                    
                    A Single, Solvable Problem: Cleft Lip and Palate
                    Many children around the world are living with untreated clefts. Most have difficulties eating, breathing, hearing, and speaking.</p>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="content">
              <ol>
                <li>
                  <i class="fal fa-hands-heart"></i>
                  <h3>CLUBFOOT FREE PROGRAM</h3>
                  <p>Every single day Clubfoot robs children of their childhood. A problem that has such an effective and affordable solution does not get addressed because of the ignorance and stigma around it.
                    Every hour you contribute by joining our efforts helps us ensure that this doesn’t happen and children with clubfoot get the treatment they deserve.</p>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="content">
              <ol>
                <li>
                  <i class="fal fa-child"></i>
                  <h3>MATERNAL & CHILD HEALTH PROGRAM</h3>
                  <p>A continuum of care RMNCH+A (Reproductive, Maternal, Newborn, Child and Adolescent Health) means working with women and children from birth to adulthood in order to break the intergenerational cycle of poor health.</p>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="content">
              <ol>
                <li>
                  <i class="fal fa-hand-holding-water"></i>
                  <h3>HEALTH & NUTRITION PROGRAM</h3>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi
                    temporibus, libero,</p>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="content">
              <ol>
                <li>
                  <i class="fal fa-heartbeat"></i>
                  <h3>CHILDREN REHALIBITATION PROGRAM</h3>
                  <p>In general, majority of street children in India are boys with little or no education, and they sleep in the open with no access to toilets. Most of the children who live on the streets or railway stations are addicted to solvents and other drugs.</p>
                </li>
              </ol>
            </div>
          </div>
        </div>

         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="wrapper">
            <div class="content">
              <ol>
                <li>
                  <i class="fal fa-bone"></i>
                  <h3>ANIMAL WELFARE PROGRAM</h3>
                  <p>Every animal deserves a peaceful life, as much as we do. Docile creatures like dogs, cows, donkeys, cats, birds, etc. are meant to roam freely with the assurance of complete safety.</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container" style="margin-bottom: 50px;">
    <h4 class="ourlg">Our Partners</h4>
    <section class="customer-logos slider">
      <div class="slide">
        <img src="assets/images/team/1.jpeg" style="height: 150px; width: 200px;">
      </div>
      <div class="slide">
        <img src="assets/images/team/2.jpeg" style="height: 150px; width: 200px;">
      </div>
      
      <div class="slide">
        <img src="assets/images/team/3.jpeg" style="height: 150px; width: 200px;">
      </div>
      
      
      <div class="slide">
        <img src="assets/images/team/5.jpeg" style="height: 150px; width: 200px;">
      </div>
      <div class="slide">
        <img src="assets/images/team/6.jpeg" style="height: 150px; width: 200px;">
      </div>
      <div class="slide">
        <img src="assets/images/team/7.jpeg" style="height: 150px; width: 200px;">
      </div>
      <div class="slide">
        <img src="assets/images/team/8.jpeg" style="height: 150px; width: 200px;">
      </div>
      
      <div class="slide">
        <img src="assets/images/team/9.jpeg" style="height: 150px; width: 200px;">
      </div>
      <div class="slide">
        <img src="assets/images/team/10.jpeg" style="height: 150px; width: 200px;">
      </div>
      
      <div class="slide">
        <img src="assets/images/team/11.jpeg" style="height: 150px; width: 200px;">
      </div>
      <div class="slide">
        <img src="assets/images/team/12.jpeg" style="height: 150px; width: 200px;">
      </div>
      <div class="slide">
        <img src="assets/images/team/13.jpeg" style="height: 150px; width: 200px;">
      </div>
      <div class="slide">
        <img src="assets/images/team/14.jpeg" style="height: 150px; width: 200px;">
      </div>
    </section>
  </div>

  <!--Random Html-->

  
  
  <!-- =====================>>>>>Footer Started>>>>>======================== -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
          <div class="footer-content">
            <h2>OUR LOCATION</h2>
            <p>H.No.4453 Sathe Nagar Near Manoj Kirana Store Narpoli Bhiwandi Thane Maharashtra-421305</p><br>
            <p>PAN NO. AALCR3060M</p><br>
            <p>Registration No.U85300MH2021NPL368070</p>
            <ul>
              <li><a style="color: black" href="https://www.facebook.com/rhlfofficial/"><i class="fab fa-facebook-f"></a></i></li>
              <li><a style="color: black" href="https://twitter.com/rhlfofficial"><i class="fab fa-twitter"></a></i></li>
              <li><a style="color: black" href="https://youtube.com/channel/UCPGUOZUxESUOLNaTjeElSWQ"><i class="fab fa-youtube"></a></i></li>
              <li><a href="https://www.linkedin.com/company/rhlfofficial/"><i style="color: black" class="fab fa-linkedin"></a></i></li>
              <li><a style="color: black" href="https://www.instagram.com/rhlfofficial/"><i class="fab fa-instagram"></a></i></li>
            </ul>
          </div>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-6">
          <div class="footer-content">
            <h2>Quick Links</h2>
            <ol>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>Privacy Policy</a></li>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>Term and Condition</a></li>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>Refund Policy</a></li>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>Child Protection Policy</a></li>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>POSH Policy</a></li>
            </ol>
          </div>
        </div>
       <!--- <div class="col-lg-3 col-md-3 col-sm-6 col-6">
          <div class="footer-content">
            <h2>Services</h2>
            <ol>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>Home</a></li>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>About Us</a></li>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>Services</a></li>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>Blog</a></li>
              <li><a href="#"><i class="fal fa-angle-double-right"></i>Contact Us</a></li>
            </ol>
          </div>
        </div>---->
        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
          <div class="footer-content">
            <h2>Subscribe for NEWSLETTER</h2>
              <p>Stay Informed about Currently Running Campaigns, Events, Opportunities with Real Happiness Of Life Foundation</p>
            <div class="form-group">
              <input class="form-control" role="" name="email" type="email" placeholder="Enter Your Email">
              <i class="fal fa-paper-plane"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right">
      <div class="container">
        <div class="copy-right-card">
          <p>2023 @ All Rights Reserved Designed and developed by<a
            href="https://www.rhlf.org">RHLF</a></p>
        </div>
      </div>
    </div>
  </footer>
</body>

<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/logocarausel.js"></script>
<script src="https://kit.fontawesome.com/fb5c2fa1cc.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js" integrity="sha512-KvlmAB+wx0zLQRe7hCFzBwyaU/AvbwPoJgxfBZ6g+ZF9MBMY4YAo3+BycXH2Rc+fDPbZ0fJsi3AfOTmQYZEn9A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>

