<%- include("partials/header") %>

<body>
  <%- include("partials/navbar") %>
  <!-- content -->
  <div class="sup-card-contact-0a">
    <div class="contact-a1">
      <h2>IMPLEMENTATION PARTNERS</h2>
      <!-- partner 1-->
      <div class="partners">
        <div class="partner_one">
          <div>
            <img src="\assets\images\partner\chezuba.jpg" alt="partner" />
          </div>
          <p>Chezuba</p>
        </div>
        <div class="partner_one">
          <div>
            <video src="assets\images\partner\connectFor.mp4"></video>
          </div>
          <p>Connect For</p>
        </div>
        <div class="partner_one">
          <div>
            <img src="assets\images\partner\donatekart.jpg" alt="partner" />
          </div>
          <p>Donatekart</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partner\income tax department.jpg"
              alt="partner"
            />
          </div>
          <p>Income Tax Department</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partner\india guide star.jpg"
              alt="partner"
            />
          </div>
          <p>India Guide Star</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partner\ministry of corporate affairs.jpg"
              alt="partner"
            />
          </div>
          <p>Ministry of Corporate Affairs</p>
        </div>
        <div class="partner_one">
          <div>
            <img src="\assets\images\partner\niti ayog.jpg" alt="partner" />
          </div>
          <p>Niti Ayog</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="\assets\images\partner\rise against hunger.jpg"
              alt="partner"
            />
          </div>
          <p>Rise Agianst Hunger</p>
        </div>
        <div class="partner_one">
          <div>
            <img src="assets\images\partner\rotaract.jpg" alt="partner" />
          </div>
          <p>Rotaract</p>
        </div>
        <div class="partner_one">
          <div>
            <img src="assets\images\partner\rotary.jpg" alt="partner" />
          </div>
          <p>Rotary</p>
        </div>
      </div>
    </div>
  </div>

  <!-- =====================>>>>>Footer Started>>>>>======================== -->
  <%- include("partials/footer") %>
</body>
