<%- include("partials/header") %>

<body>
  <%- include("partials/navbar") %>
  <!-- content -->
  <div class="sup-card-contact-0a">
    <div class="contact-a1">
      <h2>IMPLEMENTATION PARTNERS</h2>
      <!-- partner 1-->
      <div class="partners">
        <div class="partner_one">
          <div>
            <img
              src="assets/images/partners/Tata Memorial Hospital - Mumbai - Child Help Foundation-01.png"
              alt="partner"
            />
          </div>
          <p>Tata Memorial Hospital | Mumbai</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\Hinduja -Mumbai - Child Help Foundation-01.png"
              alt="partner"
            />
          </div>
          <p>Hinduja Hospital | Mumbai</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\Kokilaben D. Ambani Hospital - Mumbai - Child Help Foundation-01.png"
              alt="partner"
            />
          </div>
          <p>Kokilaben D. Ambani Hospital | Mumbai</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\Sir H.N. Reliance Foundation Hospital - Mumbai - Child Help Foundation www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>HN Reliance Hospital | Mumbai</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\HCG Hospital - Bengaluru - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>HCG Hospital | Bengaluru</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\St. John's Hospital - Bengaluru - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>St. John Hospital | Bengaluru</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\HCG Manavta Hospital - Nasik - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>Curie Manavta Hospital | Nasik</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\DM Hospital - Pune - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>DM Hospital | Pune</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\DM Hospital - Pune - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>Meenakshi Mission Hospital | Madurai</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\Vedanta-Hospital-Ahmedabad-Child Help Foundation-01.png"
              alt="partner"
            />
          </div>
          <p>Vedanta Hospital | Ahmadabad</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\Eden Medical Centre - Dimapur - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>Eden Hospital | Dimapur</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\CMC - Vellore - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>CMC Hospital | Vellore</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\VS Hospitals - Chennai - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>V.S Hospital | Chennai</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\Puducherry Cancer Trust Hospital and Research Centre - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>Puducherry Cancer Trust Hospital | Puducherry</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\Erode-Cancer-Centre - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>Erode Cancer Centre | Tamil Nadu</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\G. Kuppuswamy Naidu Hospital - Coimbatore - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>G. Kuppuswamy Naidu Memorial Hospital | Coimbatore</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\KEM Hospital - Pune - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>K E M Hospital | Pune</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\Jupiter Life Line Hospital - Thane - Mumbai - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>Jupiter Life Line Hospital | Thane</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\Bai Jerbai Wadia Hospital For Children - Mumbai - Child Help Foundation - www.childhelpfoundation.in-01.png"
              alt="partner"
            />
          </div>
          <p>Bai Jerbai Wadia Hospital for Children - Mumbai</p>
        </div>
        <div class="partner_one">
          <div>
            <img
              src="assets\images\partners\AIMS Hospital - Kochi - Kerala - Child Help Foundation - www.childhelpfoundation.in.png"
              alt="partner"
            />
          </div>
          <p>Amrita Institute of Medical Sciences & Research - Kochi</p>
        </div>
      </div>
    </div>
  </div>

  <!-- =====================>>>>>Footer Started>>>>>======================== -->
  <%- include("partials/footer") %>
</body>
