<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Happiness Of Life Foundation</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <!-- ======================header started====================== -->
  <script src="./jsfiles/navbar.js"></script>

  <!-- ======================Main started====================== -->

  <main>

    <!-- ======================Banner started====================== -->


    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="wrapper">
              <h1>ANIMAL WELFARE PROGRAM</h1>
              <p></p>
              <ol>
                <li><a href="donate page.html">Donate Now</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
        Every animal deserves a peaceful life, as much as we do. Docile creatures like dogs, cows, donkeys, cats, birds, etc. are meant to roam freely with the assurance of complete safety. However, that is often not the case. These innocent animals aren’t always treated well. Sometimes they are abandoned for having aged. The ailing ones are shooed away. They end up succumbing to their sickness. Those that meet with an accident on the roads are left to die. The strays suffer from extreme starvation and thirst. Yet, nobody cares to extend help.
The Real Happiness Of Life Foundation is trying their best to handle the situation and protect the animals. But even so, they need your support. After being rescued, these animals were given a second chance at life. You can help give these strays a better home. The construction Item's and Food Item's and Medical Item's materials that you donate will not only strengthen the roof over their heads.Life for these animals is extremely tough. Unlike us, they cannot voice their pain and needs.
Let’s not let them down. Together we can stand by them and empower their mission of giving animals a better life. Come, let us ensure that.
Let us get together and help these voiceless beings live their lives with utmost dignity and respect.<br>

Your contribution will ensure that these stray animals get regular meals and stay healthy. You can donate Animal's food so that thousands of animals on the streets of India are taken care of.
            </div>
   
  <!-- =====================>>>>>Footer Started>>>>>======================== -->
  <%- include("partials/footer") %>
  
</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html>