<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Happiness Of Life Foundation</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <!-- ======================header started====================== -->
  <script src="./jsfiles/navbar.js"></script>
  <!-- ======================Main started====================== -->

  <main>

    <!-- ======================Banner started====================== -->


    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="wrapper">
              <h1>EMERGENCY MEDICAL SUPPORT</h1>
              <p></p>
              <ol>
                <li><a href="donate page.html">Donate Now</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
        Survival of the baby and their Treatment: As per UNICEF’s data nearly 1.73 million children die in India every year due to lack of treatment. As the most prominent medical support NGO in Mumbai give awareness programmes on health and personal hygiene in slums for underprivileged children, their parents and also in spreading awareness in the schools and slum. Many families come from weaker sections who need nutritional support especially children who are admitted in government hospitals and whose parents cannot afford food and find it very difficult to take care of their children.
<br>
<h5 style="margin-top: 20px; margin-bottom: 20px;">AWARENESS PROGRAMMES ON HEALTH by NGOS FOR HEALTHCARE IN MUMBAI</h5>

Childhood lays the groundwork for lifelong personal hygiene responsibility, which is critical for a healthy childhood, maturity, and the development of positive health values and the utilisation of health services.
<br>
Maintaining personal cleanliness is beneficial to children’s quality of life and longevity. This is especially important in a slum neighbourhood where living conditions are precarious.
<br>
The health of a society’s children has a significant impact on its future. Parents and teachers, as constructive shapers of children’s health behaviours, should play an important role in early personal hygiene education for children.
<br>
<h5 style="margin-top: 20px; margin-bottom: 20px;">BRIDGING GAP OF UNAFFORDABLE HEALTHCARE IN INDIA</h5>
In India, terminally sick individuals with treatable diseases lack access to life-saving drugs, as well as doctors who know how to deliver them.<br>

In India, 65 percent of health care costs are borne by the individual, and these costs “drive nearly 57 million people into poverty each year.”<br>

One of the most glaring inconsistencies in our country is the stark disparity between the healthcare services offered to the wealthy middle class and the poorer portions of the population.
<br>
While there is a huge population who cannot afford healthcare. As the leading health care support NGO in Mumbai, we help bridge this gap by funding surgeries, healthcare, nutrition and other health requirements of a Children up medical support by volunteer
Real Happiness Of Life Foundation medical camps
Real Happiness support for baby Children

Real Happiness volunteer worked for medical support for Baby Children

Real Happiness Of Life foundation volunteer provide medical support for unprivileged Children
Real Happiness Of Life Foundation helps for medical support by raising funds
Real Happiness Of Life Foundation volunteer raising funds for unprivileged Children
<br>
Real Happiness Of Life Foundation provides financial support for baby children who cannot afford any critical operations/critical illness/ support in medicines and help them to buy generic medicines.
<br>
Following the aspirations of NGO for medical support in Mumbai We also take medical camps for eyes check-up and also help for cataract operation.
<br>
Often many of the health care support NGO in Mumbai, miss out on eye healthcare.  Importance of regular eye check-ups include:
<br>
The visual function of both proximal and distance vision is tested during an eye examination.
<br>
The basic visual acuity assessment determines whether or not glasses will be required for the first time.
<br>
It also shows the corrections that are required on a regular basis based on the improvement or deterioration of visual function over time.
If detected early enough, more than 75% of instances of blindness can be avoided.
While eye exams have a lot to offer, they aren’t very useful if they aren’t done on a regular basis.
Cataract is a condition in which the eye’s lens becomes opaque, causing blurred vision. To restore normalcy, early detection of cataracts and lens replacement operations are required.
<br>
<h5 style="margin-top: 20px; margin-bottom: 20px;">PROVIDING EARLY HEALTHCARE NUTRITION</h5>

To reach their greatest potential, children require the correct meals at the right time. The 1,000-day period between pregnancy and a child’s second birthday is the most crucial for optimal nutrition.
<br>
Children must start eating solid foods at the age of six months. Young infants should be fed regularly and in sufficient quantities throughout the day, and their meals should be nutrient-dense and diverse in nature.
<br>
Before the age of two, what, when, and how children eat is more crucial than at any other time in their lives. Despite this, many new-borns and young children today do not get the nourishment they require to
<br>
<h5 style="margin-top: 20px; margin-bottom: 20px;">1- Heart Surgery</h5>

(In case of coronary diseases or a malfunctioning heart, opt for corrective heart surgeries by raising funds online for yourself or a loved one)

<h5 style="margin-top: 20px; margin-bottom: 20px;">2- Kidney Transplant</h5>

(In case of kidney failure, you can support the dialysis or transplant by raising funds online for yourself or a loved one)

<h5 style="margin-top: 20px; margin-bottom: 20px;">3- Nicu</h5>3- Nicu

(Premature babies battle multiple complications due to extremely underdeveloped organs. Pay for the cost of their treatment by raising funds online)

<h5 style="margin-top: 20px; margin-bottom: 20px;">4- Bone Marrow Translate</h5>

(Once you have a suitable bone marrow donor, raise funds for the life-saving bone marrow transplant surgery for yourself or a loved one)

<h5 style="margin-top: 20px; margin-bottom: 20px;">5- Canser Patient</h5>

(This five lettered disease comes with chemotherapy, radiation and other expensive treatment options. Support your battle against cancer by raising funds online)
<br>
You can raise funds for - Bone Marrow Transplant, Kidney Transplant, NICU Care(in case of premature babies), Cancer Treatment, Open Heart Surgery, Heart defect, Brain tumor, Cerebral Palsy, Aplastic Anaemia, Joint Replacement, Eye Surgery. However, if your treatment option isn’t mentioned here, you can get in touch with us to get assistance - someone from our team will get in touch with you.    
</div>
   
  <!-- =====================>>>>>Footer Started>>>>>======================== -->

  
</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html>