<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Happiness Of Life Foundation</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <!-- ======================header started====================== -->
  <script src="./jsfiles/navbar.js"></script>

  <!-- ======================Main started====================== -->

  <main>

    <!-- ======================Banner started====================== -->


    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="wrapper">
              <h1>MISSION EDUCATION PROGRAM</h1>
              <p></p>
              <ol>
                <li><a href="donate page.html">Donate Now</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
        <h5 style="margin-top: 20px; margin-bottom: 20px;">Education changes everything</h5>
Education is the driver for sustainable change and So They Can believe that empowering communities through a quality education is the key to breaking the poverty cycle.
<br>
Our mission is to provide quality education to children living in poverty through improved learning conditions, teacher training and development, and inclusive partnerships with the community and in-country governments.

Let’s bring weak, deprived street children in mainstream education
Your support will terminate begging from children’s lives.

<h5 style="margin-top: 20px; margin-bottom: 20px;">Don’t they have the right to get an education and live with dignity?</h5>
Who will look at Street Children's future? Is this the future of our country? Families living with social pressure, indebtedness, addiction, superstition, and children living in a condition where there is no hope of life, no meaning of living, and no respectful life at all.
<br>
Mission Education Program is an innovative concept initiated by Real Happiness Of Life Foundation; it aims towards providing mainstream education to the children living on the streets through activities. We aim to terminate begging from children’s lives. Mission Education Program aims to provide primary and secondary education to underprivileged children by friendly education. The school will bring weak and deprived children into mainstream education. This initiative will develop the cognitive skills of children through social participation. The emphasis is on promoting “Teaching through play" making use of locally available & culturally relevant teaching-learning tools.

<h5 style="margin-top: 20px; margin-bottom: 20px;">Vision</h5>
The project approach is to getting younger kids ready & getting them into the stream. Our vision is to bring weak and deprived children into mainstream education. Our major task is to encourage good habits in children like wearing clean clothes, not being superstitious and not begging, etc.

T<h5 style="margin-top: 20px; margin-bottom: 20px;">arget beneficiary (survey)</h5>
Girls & Boys – age Between 3 to 16th

<h5 style="margin-top: 20px; margin-bottom: 20px;">Activity</h5>
Educational activities, Exposure Tours, other activities like Drawing, dance, sports and games, computer training, Evaluation test of children, Participation in exhibition etc.
<br>Group discussion with Leaders<br>
Some of the leaders from various organizations will be invited to share their experience with these kids<br>
Kids of Homeless families, Garbage pickers, Hawkers, Mathadi’s, the construction laborers, and so on, do not have the necessary resources of education.

<h5 style="margin-top: 20px; margin-bottom: 20px;">Strength</h5>
All kids are willing to learn, Parents think this initiative is very much needed. They have selling ability

<h5 style="margin-top: 20px; margin-bottom: 20px;">Weakness</h5>
Parents are uneducated, there is No roof for Mission Education Program, Good Volunteers, and Undisciplined Attitude. Sustainable effort without monetary support is getting difficult.

<h5 style="margin-top: 20px; margin-bottom: 20px;">Opportunity</h5>
They are very confident and fearless, can be train on entrepreneur skill as they have Selling ability.

<h5 style="margin-top: 20px; margin-bottom: 20px;"></h5>Threat
Travel community who can shift to other places for work purpose. Community fights impact the attendance of the kids. Some parents thinks kids as earning source.
                    </div>
   
  <!-- =====================>>>>>Footer Started>>>>>======================== -->

  <%- include("partials/footer") %>
</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html>