<%- include("partials/header") %>

  <style>
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 2em 1em;
    }

    .column {
      width: 100%;
      padding: 0.5em 0;
    }

    h1 {
      width: 100%;
      text-align: center;
      font-size: 3.5em;
      color: #1f003b;
    }

    .card {
      box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
      padding: 3.5em 1em;
      border-radius: 0.6em;
      color: #1f003b;
      cursor: pointer;
      transition: 0.3s;
      background-color: #ffffff;
    }

    .card .img-container {
      width: 8em;
      height: 8em;
      background-color: #a993ff;
      padding: 0.5em;
      border-radius: 50%;
      margin: 0 auto 2em auto;
    }

    .card img {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      height: 100%;
    }

    .card h3 {
      font-weight: 500;
    }

    .card p {
      font-weight: 300;
      text-transform: uppercase;
      margin: 0.5em 0 2em 0;
      letter-spacing: 2px;
    }

    .icons {
      width: 50%;
      min-width: 180px;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }

    .card a {
      text-decoration: none;
      color: inherit;
      font-size: 1.4em;
    }

    .card:hover {
      background: linear-gradient(rgb(248, 98, 148), rgb(255, 92, 147));
      color: #ffffff;
    }

    .card:hover .img-container {
      transform: scale(1.15);
    }

    @media screen and (min-width: 768px) {
      section {
        padding: 1em 7em;
      }
    }

    @media screen and (min-width: 992px) {
      section {
        padding: 1em;
      }

      .card {
        padding: 5em 1em;
      }

      .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
      }
    }
  </style>



  <body>
    <!-- ======================header started====================== -->
    <%- include("partials/navbar") %>

      <!-- ======================Main started====================== -->

      <main>

        <!-- ======================Banner started====================== -->

        <section>
          <div class="row">
            <h1>Our Team</h1>
          </div>
          <div class="row">
            <!-- Column 1-->
            <div class="column">
              <div class="card">
                <div class="img-container">
                  <img src="assets/images/team/team1.jpeg" />
                </div>
                <h3 style="text-align: center;">Mr.Shivam Pathak</h3>
                <p style="text-align: center;">Director & CEO</p>
                <div class="icons">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Column 2-->

            <div class="column">
              <div class="card">
                <div class="img-container">
                  <img src="assets/images/team/team4.jpeg" />
                </div>
                <h3 style="text-align: center;">Mrs.Pooja Pathak</h3>
                <p style="text-align: center;">Director & Program Trainer</p>
                <div class="icons">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Column 3-->

            <div class="column">
              <div class="card">
                <div class="img-container">
                  <img src="assets/images/team/team8.jpeg" />
                </div>
                <h3 style="text-align: center;">Mr.Bijesh Pal</h3>
                <p style="text-align: center;">Director</p>
                <div class="icons">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Column 4-->

            <div class="column">
              <div class="card">
                <div class="img-container">
                  <img src="assets/images/team/team2.jpeg" />
                </div>
                <h3 style="text-align: center;">Mr.Ajay Deep Singh</h3>
                <p style="text-align: center;">Director & Advisor</p>
                <div class="icons">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Column 5-->
            <div class="column">
              <div class="card">
                <div class="img-container">
                  <img src="assets/images/team/team7.jpeg" />
                </div>
                <h3 style="text-align: center;">Mr.Zeel Mangukiya</h3>
                <p style="text-align: center;">Chief Operation Advisor</p>
                <div class="icons">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Column 6-->
          </div>
          <div class="row">
            <!-- Column 1-->
            <div class="column">
              <div class="card">
                <div class="img-container">
                  <img src="assets/images/team/team3.jpeg" />
                </div>
                <h3 style="text-align: center;">Mr.Aaquib Khan</h3>
                <p style="text-align: center;">Program Director Maharashtra</p>
                <div class="icons">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-github"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Column 7-->

            <div class="column">
              <div class="card">
                <div class="img-container">
                  <img src="assets/images/team/team5.jpeg" />
                </div>
                <h3 style="text-align: center;">Mr.Rohit Gudniye</h3>
                <p style="text-align: center;">CA & Advisor</p>
                <div class="icons">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-github"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-envelope"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </section>




        <!-- =====================>>>>>Footer Started>>>>>======================== -->

        <%- include("partials/footer") %>
  </body>

  </html>