<%- include("partials/header") %>
<link rel="stylesheet" href="assets/css/emergency.css">
<link rel="stylesheet" href="assets/css/style.css" />
  <body>
    <!-- navbar -->
    <%- include("partials/navbar") %>
    <!-- content -->
    <div class="container fontname">
      <center>
        

        <!-- emergency-image-case -->
        <div class="drop-shadow-2xl">
          <img src="assets/images/team/emergency_banner.jpeg" style="height: 70px; width: 450px;">
          <img
            src="assets/images/causes/Thrida Yadav 1.jpeg" style="height: 280px; width: 450px; margin-bottom: 25px;"
            alt="emergencycase"
            class="emergency-image "
          />
        </div>
        <button
          type="button"
          id="donate-button"
          class="mt-3 bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-3 mr-2 mb-2 drop-shadow-2xl"
          onclick="window.location.href = '/donate';"
        >
          <i class="fa fa-solid fa-heart"></i> Donate
        </button> <br>
        <div class="social-icons">
          <a href="https://www.facebook.com/sharer.php?u=https://facebook.com/rhlfofficial" target="_blank" class="fa fa-facebook "></a>
          <a href="https://www.linkedin.com/shareArticle?url=https://www.linkedin.com/rhlfofficial/mycompany/&title=Donate Now" target="_blank" class="fa fa-linkedin "></a>
          <a href="https://youtube.com/channel/UCPGUOZUxESUOLNaTjeElSWQ" target="_blank" class="fa fa-youtube "></a>
          <a href="https://twitter.com/rhlfofficial" target="_blank" class="fa fa-twitter "></a>
          <a href="https://api.whatsapp.com/send?phone=<>&text=<hi, Donate >
            " target="_blank" class="fa fa-whatsapp "></a>
        </div>
      </center> <br>
      <h1 class="name-of-baby">Baby Thrida Yadav</h1>
      <p class="name">Age : 20 months old</p>
      <!-- <h2 class="name">Family Details : </h2> -->
      <h5>"This 20-Month-Old’s Body Is Giving Up On Her, She Needs An Urgent Transplant To Survive"</h5>

      <p>
        The Whole Family Received A Huge Shock With Tridha’s Diagnosis  <br>
      
“We had never heard of Thalassemia before. We never imagined that it could be life-threatening. Ever since she was just two and a half months old, our baby’s life has revolved around blood tests, injections and medicines. She’s terrified. And every day we worry about whether we can afford her treatment, but in front of her, we always put up a brave front. On the inside, we’re completely broken.” - <b>Mahesh Jadhav, Father</b>  </p>
        
      <!-- <p class="name"> <b>Total Estimated cost : Rs. 20,00,000/-</b> </p> -->
      <h2 class="name">Patient Details : </h2>
      <p>20- Month-old Thrida has Thalassemia Major, an inherited blood disorder caused when there isn’t enough haemoglobin in the body. This affects the red blood cells functioning and reduces the oxygen delivered to the other cells in the body leading to severe anaemia. People with Thalassemia often experience fatigue, weakness, and sometimes even organ damage and death due to severe anaemia. .</p>

        <h1 class="name">How Can You Help? </h1>
      <p>-You can Donate to the Fundraiser <br>
        -You can share Thrida story on Facebook and WhatsApp so that their story reaches to more people like you who will impact his life <br>
        -You can Volunteer to Raise Funds and save Thrida . <br>
        
        50% Tax Exemption under 80(G) <br>
        FUNDS DONATED WILL BE USED FOR THRIDA YADAV TREATMENT <br>
        Kindly also share the fundraiser with your family and friends and help them to reach the goal. We will be grateful for your help!</p>
        <div class="container text-center mt-3">
          
        <h1 class="name">Supporting Documents</h1>
        <div class="documents">
          <img class="doc " src="assets/images/causes/Thrida Yadav2.jpeg" alt="Thrida docs">
  
          
        </div>
      </div>
    
    </div>
<!-- =====================>>>>>Footer Started>>>>>======================== -->
<%- include("partials/footer") %>
      
    
  </body>
</html>
