<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Happiness Of Life Foundation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/navbar.css"/>
</head>

<body>
  <!-- ======================header started====================== -->
  <script src="./jsfiles/navbar.js"></script>
  <!-- ======================Main started====================== -->

  <main>
  
      <!-- ============abt-01 Section  Start============ -->
      <div>
      <section class="abt-01 redbanner">
        
          <div class="container">
              <div class="row">
                  <div class="col-12">
                    
                      <div class="heading-wrapper">
                          <h3>About Us</h3>
                          <ol>
                              <li><a href="index.html" style="color: white;">Home</a><i class="far fa-angle-double-right"></i></li>
                              <li>About Us</li>
                          </ol>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </div>

      <section class="about-001">
        <div class="container">
            <div class="row">
                <div class="text-part col-md-6">
                    <h2>About Our Charity</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius faucibus
                        ligula non congue. Suspendisse at pretium massa, sit amet
                        vulputate nibh. Nam posuere eros dolor. Donec vel arcu sagittis, pretium nisl </p>
                    <p> Cras faucibus laoreet nibh, sit amet tincidunt leo mollis in. Etiam eu mauris metus.
                        Nulla facilisi. Etiam vestibulum,
                        nisi et convallis elementum, leo orci aliquam metus, id posuere massa neque vitae
                        arcu.</p>

                    <p>Integer vulputate vehicula dolor a eleifend. Duis aliquam condimentum sapien,
                        eget tempor justo. Aenean porttitor nibh metus, sollicitudin egestas metus posuere et
                        . Fusce egestas volutpat metus, in sodales sem bibendum porta. Nunc hendrerit nunc sit
                        amet tellus posuere, at malesuada sem gravida. Integer maximus ultricies augue, at
                        dapibus elit bibendum consequat. Cras faucibus tellus eleifend, fermentum purus in,
                        dapibus sapien. Praesent nec ornare risus. Etiam iaculis, ligula vel gravida
                        vestibulum, urna justo posuere ante,
                        id pretium massa arcu sed mi. Nunc a sollicitudin sem. Duis tempus </p>
                </div>
                <div class="image-part col-md-6">
                    <div class="about-quick-box row">
                        <div class="col-md-6">
                            <div class="about-qcard">
                                <i class="fas fa-user"></i>
                                <p>Become a Volunteer</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-qcard ">
                                <i class="fas fa-search-dollar red"></i>
                                <p>Quick Fundraise</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-qcard ">
                                <i class="fas fa-donate yell"></i>
                                <p>Give Donation</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-qcard ">
                                <i class="fas fa-hands-helping blu"></i>
                                <p>Help Someone</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <!-- ======================Bg-04 started====================== -->

      <section class="bg-04">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="heading">
                          <h2>Meet Our Team</h2>
                      </div>
                  </div>

                  <div class="main-team-card d-flex">
                      <div class="team-setup">
                          <div class="team-items">
                              <div class="team-user">
                                  <img src="assets/images/team/1.jpg">
                              </div>
                              <div class="team-user-social">
                                  <ol>
                                      <li><i class="fab fa-facebook-f"></i></li>
                                      <li><i class="fab fa-twitter"></i></li>
                                      <li><i class="fab fa-google"></i></li>
                                      <li><i class="fab fa-skype"></i></li>
                                  </ol>
                              </div>
                              <div class="team-name">
                                  <h2>JOHN</h2>
                                  <b>Attorneys</b>
                              </div>
                          </div>
                      </div>

                      <div class="team-setup">
                          <div class="team-items">
                              <div class="team-user">
                                  <img src="assets/images/team/2.jpg">
                              </div>
                              <div class="team-user-social">
                                  <ol>
                                      <li><i class="fab fa-facebook-f"></i></li>
                                      <li><i class="fab fa-twitter"></i></li>
                                      <li><i class="fab fa-google"></i></li>
                                      <li><i class="fab fa-skype"></i></li>
                                  </ol>
                              </div>
                              <div class="team-name">
                                  <h2>TURNER</h2>
                                  <b>Attorneys</b>
                              </div>
                          </div>
                      </div>

                      <div class="team-setup">
                          <div class="team-items">
                              <div class="team-user">
                                  <img src="assets/images/team/3.jpg">
                              </div>
                              <div class="team-user-social">
                                  <ol>
                                      <li><i class="fab fa-facebook-f"></i></li>
                                      <li><i class="fab fa-twitter"></i></li>
                                      <li><i class="fab fa-google"></i></li>
                                      <li><i class="fab fa-skype"></i></li>
                                  </ol>
                              </div>
                              <div class="team-name">
                                  <h2>GILBERT WILLIAMS</h2>
                                  <b>Attorneys</b>
                              </div>
                          </div>
                      </div>

                      <div class="team-setup">
                          <div class="team-items">
                              <div class="team-user">
                                  <img src="assets/images/team/4.jpg">
                              </div>
                              <div class="team-user-social">
                                  <ol>
                                      <li><i class="fab fa-facebook-f"></i></li>
                                      <li><i class="fab fa-twitter"></i></li>
                                      <li><i class="fab fa-google"></i></li>
                                      <li><i class="fab fa-skype"></i></li>
                                  </ol>
                              </div>
                              <div class="team-name">
                                  <h2>ANDERSON JHON</h2>
                                  <b>Attorneys</b>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

  </main>

   <!-- =====================>>>>>Footer Started>>>>>======================== -->

   
</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html>