<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Our Team</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
   

     </head>
     <body>
       <!-- ======================header started====================== -->
  <script src="./jsfiles/navbar.js"></script>

  <!-- ======================Main started====================== -->
      <main>
        <section class="banner">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="wrapper">
                  <h1>EMERGENCY MEDICAL SUPPORT</h1>
                  <p></p>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
       
        <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
            <!--<center><img src="assets/images/causes/1.jpeg" style="length: 500px; width: 600px;"></center>--->
            <p style="margin-top: 30px; margin-bottom: 30px;"><div style="margin-bottom: 30px;">Real Happiness Of Life Foundation,We work in the best interest of Needy.</div>

              <div style="margin-bottom: 20px;margin-top: 20px;">We focus on the basics such as Education, Health, Food and Shelter. Our approach is holistic and our style hands on. We are on the ground, where it matters most for the child. We enable both families and communities. We have several grass roots initiatives.</div>
              
              <div style="margin-bottom: 20px;margin-top: 20px;">We will be completing our first decade of growth soon. We started working in 2021. We are building on our many successes and reaching out to more and more marginalized People </div>
              
              <div style="margin-bottom: 20px;margin-top: 20px;">Registered as not for profit organization in 2021 under the Section 8 Act. Real Happiness Of Life Foundation Registration No: U85300MH2021NPL368070</div>
              
              <h5 style="margin-bottom: 10px;margin-top: 20px;"><b>VISION</b></h5>
              Giving True Happiness to every needy life.   
              
              <h5 style="margin-bottom: 10px;margin-top: 20px;"><b>MISSION</b></h5>
              Real Happiness Of Life Foundation for social changed and inclusion works for the social development and integration of under privileged individuals groups and communities in India. Eradicating all People of sorrow, prevailing truth, love and peace, practicing oneness, and celebrating humanity.
              
              <h4 style="margin-bottom: 10px;margin-top: 25px;"><b><i><u>CORE VALUES</u></i></b></h4>
              
              <h5 style="margin-bottom: 10px;margin-top: 20px;"><b>GODLIKE</b></h5>
              
              We value reflecting God with compassion to those we serve.
              
              <h5 style="margin-bottom: 10px;margin-top: 20px;"><b>CHILDLIKE</b></h5>
              
              We value child's passion for life and dependence of God in how we think, live and love.
              
              <h5 style="margin-bottom: 10px; margin-top: 20px;"><b>INTEGRITY</b></h5>
              
              We value doing what we say and saying what we do. 
              
              <h5 style="margin-bottom: 10px;margin-top: 20px;"><b>RESTORING THE BROKEN</b></h5>
              
              We value taking action in responding to the
              physical and spiritual needs of those without
              voice and resources
              
              
              <h5 style="margin-bottom: 10px;margin-top: 20px;"><b>INTENTIONAL RELATIONSHIPS</b></h5>
              
              We value collaboration, partnerships and cultivating trust and authenticity.
        </div>
   
  <!-- =====================>>>>>Footer Started>>>>>======================== -->

  
</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html>