<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Charity</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <!-- ======================header started====================== -->
  <script src="./jsfiles/navbar.js"></script>

  <!-- ======================Main started====================== -->

  <main>

    <!-- ======================Banner started====================== -->


    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="wrapper">
              <h1>ANIMAL WELFARE PROGRAM</h1>
              <p></p>
              <ol>
                <li><a href="#">Donate Now</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
        Any society is identified by the empowerment of the women. Faster the women empowerment and self reliance of women’s happens in the society, progress of the society will be expedited in the same way. Following the same thought process Real Happiness Of Life Foundation supported more than 100 deprived and neglected women from the society.<br>

        <h5 style="margin-top: 20px; margin-bottom: 20px;">SELF HELP GROUPS</h5>
Self-help is a process of sharing a common experience, challenge or concern. It is participatory in nature, and involves getting help, giving help, learning to help them self, as well as sharing knowledge and experience. Self-help groups are seen as instruments for a variety of goals including empowering women, developing leadership qualities among marginalized women. Real Happiness Of Life  Foundation is supporting these SHG groups.<br>

<h5 style="margin-top: 20px; margin-bottom: 20px;">LIVELIHOOD TRAINING</h5>
Real Happiness Of Life Foundation provides livelihood training to the women who are deprived and neglected from the society. Counseling is provided to them for the social stigma and discrimination and trauma they go throughout their life which help them to live a normal life. Real Happiness Of Life Foundation has started to empower the women by imparting them with various training programmes like mattress making, beautician course and leather bag making etc. for income generation for their sustainability and livelihood.<br>
            </div>
   
  <!-- =====================>>>>>Footer Started>>>>>======================== -->
    <%- include("partials/footer") %>

</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html>