.fontname{
    font-family: Arial, Helvetica, sans-serif;
}

h6 {
    color:  #e83e8c;
    
}
h4{
    text-decoration: underline;
}
header a {
    text-decoration: none;
  }
  
  header .menu {
    font-family: "Roboto";
    font-weight: 300;
  }
  
  footer h3 {
    color: #000;
    font-family: "Montserrat";
    font-weight: 700;
  }
  
  footer {
    background-color: #e83e8c;
    padding: 2%;
  }
  
  footer form {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px 0 0;
    background-color: #e83e8c;
    border-radius: 5px;
  }
  
  footer p,
  footer a {
    color: #f5f5f5;
    font-family: "Roboto";
    font-weight: 300;
  }
  
  footer input {
    font-family: "Roboto";
    font-weight: 400;
    width: 100%;
    height: 55px !important;
  }
  
  footer label {
    font-family: "Roboto";
    font-weight: 300;
    width: 100%;
  }
  
  footer .link {
    color: #f5f5f5;
    text-decoration: none;
  }
  
  footer .link:hover {
    color: #f5f5f5;
    text-shadow: #fff 2px 0 10px;
  }
  
  footer .fa {
    padding: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
    color: rgb(243, 76, 131);
    background: white;
  }
  
  .fa-facebook:hover {
    background: #3b5998;
    color: white;
  }
  
  .fa-twitter:hover {
    background: #55acee;
    color: white;
  }
  
  .fa-google:hover {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin:hover {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube:hover {
    background: #bb0000;
    color: white;
  }
  