h1 {
  text-decoration: underline;
}
.name-of-baby {
  font-size: 28px;
  font-weight: bold;
  color: rgb(243, 76, 131);
}
.fontname {
  font-family: Arial, Helvetica, sans-serif;
}

.emergency-image {
  border-radius: 20px;
}

.fa-facebook:hover {
  background: #3b5998;
  color: white;
}
.fa-facebook,
.fa-google,
.fa-twitter,
.fa-linkedin,
.fa-youtube {
  padding: 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 1% 1%;
  color: rgb(243, 76, 131);
  background: white;
}

.fa-twitter:hover {
  background: #55acee;
  color: white;
}

.fa-google:hover {
  background: #dd4b39;
  color: white;
}

.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

.fa-youtube:hover {
  background: #bb0000;
  color: white;
}

.social-icons {
  padding: 8px;
  width: 25%;
  margin: 2% auto;
  border-radius: 15px;
  background-color: rgb(243, 76, 131);
}

.name {
  font-size: 22px;
  margin-top: 10px;
  font-weight: bold;
  color: rgb(243, 76, 131);
}

#donate-button {
  color: white;
}



.doc {
  margin: 2%;
  max-width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 2%;
  
}
.doc1, .doc2{
  height: 500px;
  width: 50%;
}

.emergency-image{
  border-radius: 0px;
}
@media screen and (max-width: 700px) and (min-width: 300px) {
  .social-icons {
    width: 80%;
  }
}
